@model SFA.Apprenticeships.Web.Candidate.ViewModels.Account.SettingsViewModel

@{
    ViewBag.Title = "Apprenticeships - My settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid-wrapper">
    <div class="grid grid-1-2">
        <h1 class="heading-xlarge">Settings</h1>
    </div>
    <div class="grid grid-1-2">
        <p>
            @Html.ActionLink("Find an apprenticeship", "Index", "VacancySearch", null, new { @class = "page-link" })
        </p>
    </div>
</div>

<div class="panel-indent">
    <p class="text">Your changes will be seen on any draft or new applications. Submitted applications will continue to show your old details.</p>
</div>

@using (Html.BeginForm("Index", "Account", FormMethod.Post))
{
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    <fieldset>
        <legend class="heading-large">Personal details</legend>
        @Html.FormTextFor(m => m.Firstname, containerHtmlAttributes: new { @class = "form-group-compound" }, controlHtmlAttributes: new { type = "text", autocorrect = "off" })
        @Html.FormTextFor(m => m.Lastname, controlHtmlAttributes: new { type = "text", autocorrect = "off" })
        @Html.EditorFor(r => r.DateOfBirth)
        @Html.EditorFor(a => a.Address, new { AnalyticsDSCUri = "/settings/findaddress" })
        @Html.FormTextFor(m => m.PhoneNumber, controlHtmlAttributes: new { @class = "form-control-1-3", type = "tel" })
    </fieldset>

    <div class="form-group">
        <button id="update-details-button" class="button">Update details</button>
    </div>
}

@section scripts
{
    <script>
        $(function () {
            $("#find-addresses").addressLookup({
                url: '@Url.Action("Addresses", "Location")',
                selectlist: '#address-select'
            });
        });
    </script>
}
