@using SFA.Apprenticeships.Domain.Entities.Applications
@using SFA.Apprenticeships.Domain.Entities.Vacancies

@model SFA.Apprenticeships.Web.Candidate.ViewModels.MyApplications.MyApplicationsViewModel

@{
    ViewBag.Title = "My applications - Find an apprenticeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.DeletedVacancyId != null && Model.DeletedVacancyTitle != null)
{
    const string deleteMessage = "You’ve successfully deleted your draft for the <a id='vacancyDeletedLink' href={0}>{1}</a> apprenticeship";
    var deletedMessageWithLink = string.Format(deleteMessage, Url.RouteUrl(CandidateRouteNames.ApprenticeshipDetails, new { id = Model.DeletedVacancyId }), Model.DeletedVacancyTitle);
     
    <div role="alert" aria-live="assertive" class="panel-info">
        <p id="VacancyDeletedInfoMessageText">@Html.Raw(deletedMessageWithLink)</p>
    </div>
}

@if (Model.TraineeshipFeature.ShowTraineeshipsPrompt)
{
    <div role="alert" aria-live="assertive" id="traineeshipPrompt" class="toggle-content panel-info" style="display: block;">
        <div class="text">
            <p>
                Have you considered a traineeship? Traineeships are designed to get someone ready for an apprenticeship.
            </p>
            <p>
                <a id="traineeship-overview-link" href=@Url.RouteUrl(CandidateRouteNames.TraineeshipOverview)>More about traineeships</a>
            </p>
            <p>
                <a id="dismiss-traineeship-prompts-link" class="notInterested link-unimp icon-black" href="@Url.Action("DismissTraineeshipPrompts", "Account")"><i class="copy-16 fa fa-times-circle"></i>Don't show me this again</a>
            </p>
        </div>
    </div>
}

<div class="grid-wrapper">
    <div class="grid grid-1-2">
        <h1 class="heading-xlarge">My applications</h1>
    </div>
    <div class="grid grid-1-2">
        <div class="page-link">
            @if (Model.AllApprenticeshipApplications.Any() || Model.TraineeshipApplications.Any())
            {
                 <ul class="list-text small-btm-margin">
                     <li>@Html.RouteLink("Find an apprenticeship", CandidateRouteNames.ApprenticeshipSearch, null, new { id = "find-apprenticeship-link", @class = "link-unimp" })</li>
                 </ul>
            }
            @if (Model.TraineeshipFeature.ShowTraineeshipsLink)
            {
                <ul class="list-text">
                    <li>
                        @Html.RouteLink("Find a traineeship", CandidateRouteNames.TraineeshipSearch, null, new { id = "find-traineeship-link", @class = "link-unimp" })
                    </li>
                </ul>
            }
        </div>
    </div>
</div>
@if (!(Model.AllApprenticeshipApplications.Any() || Model.TraineeshipApplications.Any()))
{
    <div class="text">
        <p id="empty-application-history-text">Your application history is currently empty. This is because you haven’t submitted or saved any apprenticeship applications yet.</p>
        <p>Once you start, applications will be recorded and you’ll be able to track your progress</p>
        <div class="get-started">@Html.RouteLink("Find an apprenticeship", CandidateRouteNames.ApprenticeshipSearch, null, new {@id="find-apprenticeship-button", @class = "button" })</div>
    </div>
}
else
{
    <ul class="list-nav">
        @if (Model.SuccessfulApprenticeshipApplications.Any())
        {
            <li>
                <span id="successful-applications-count" class="bold-medium">@Model.SuccessfulApprenticeshipApplications.Count()</span>  <a class="" href="#dashSuccessful">Successful</a>
            </li>
        }
        @if (Model.SubmittedApprenticeshipApplications.Any())
        {
            <li>
                <span id="submitted-applications-count" class="bold-medium">@Model.SubmittedApprenticeshipApplications.Count()</span>  <a class="" href="#dashSubmitted">Submitted</a>
            </li>
        }
        @if (Model.UnsuccessfulApplications.Any())
        {
            <li>
                <span id="unsuccessful-applications-count" class="bold-medium">@Model.UnsuccessfulApplications.Count()</span>  <a class="" href="#dashUnsuccessful">Unsuccessful</a>
            </li>
        }
        @if (Model.DraftApprenticeshipApplications.Any())
        {
            <li>
                <span id="draft-applications-count" class="bold-medium">@Model.DraftApprenticeshipApplications.Count()</span>  <a class="" href="#dashDrafts">Drafts</a>
            </li>
        }
        @if (Model.TraineeshipApplications.Any())
        {
            <li>
                <span id="traineeship-applications-count" class="bold-medium">@Model.TraineeshipApplications.Count()</span>  <a class="" href="#dashTraineeships">Traineeships</a>
            </li>
        }
    </ul>
    <div class="grid-wrapper proto-dashboard">
    @if (
            Model.SuccessfulApprenticeshipApplications.Any() ||
            Model.UnsuccessfulApplications.Any() ||
            Model.SubmittedApprenticeshipApplications.Any())
        {
        <div class="grid grid-1-2">
            <div class="inner-block-padr">
                <section class="clearfix">
                    @if (Model.SuccessfulApprenticeshipApplications.Any())
                        {
                        <h2 class="heading-medium" id="dashSuccessful">Successful</h2>
                        <table class="vert-middle">
                            <colgroup>
                                <col class="t50">
                                <col class="t25">
                                <col class="t25">
                                <col>
                            </colgroup>
                            <tbody class="tbody-3rows">
                                @foreach (var application in @Model.SuccessfulApprenticeshipApplications)
                                {
                                    <tr>
                                        <td>
                                            @if (application.VacancyStatus == VacancyStatuses.Unavailable)
                                            {
                                                @application.Title @:with @application.EmployerName
                                            }
                                            else
                                            {
                                                @Html.ActionLink(application.Title + " with " + @application.EmployerName, "ApprenticeshipVacancyDetails", "Account", new { id = application.VacancyId }, new { @class = "link-unimp" })
                                            }
                                        </td>
                                        <td class="ta-center">@application.ApplicationStatusDescription</td>
                                        <td class="ta-center">
                                            <a class="icon-black archive-successful" href="@Url.Action("Archive", "Account", new { id = application.VacancyId })"><i class="copy-16 fa fa-times-circle"></i><span class="visuallyhidden">Delete</span></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tbody class="tbody-expandrows">
                                <tr class="no-btm-border">
                                    <td colspan="2"></td>
                                    <td class="no-wrap ta-center">
                                        <a class="btnExpandRows fake-link" href="#" aria-expanded="false"><i class="fa fa-angle-down"></i>More</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        }

                    @if (Model.SubmittedApprenticeshipApplications.Any())
                        {
                        <h2 class="heading-medium" id="dashSubmitted">Submitted</h2>
                        <table class="vert-middle">
                            <colgroup>
                                <col class="t50">
                                <col class="t25">
                                <col class="t25">
                                <col>
                            </colgroup>
                            <tbody class="tbody-3rows">
                                @foreach (var application in @Model.SubmittedApprenticeshipApplications)
                                {
                                    <tr>
                                        <td>
                                            @if (application.VacancyStatus == VacancyStatuses.Unavailable)
                                            {
                                                @application.Title @:with @application.EmployerName
                                            }
                                            else
                                            {
                                                @Html.ActionLink(application.Title + " with " + @application.EmployerName, "ApprenticeshipVacancyDetails", "Account", new { id = application.VacancyId }, new { @class = "link-unimp" })
                                            }
                                        </td>
                                        <td class="ta-center">@application.ApplicationStatusDescription</td>
                                        <td class="ta-center">@Html.DisplayFor(m => application.DateApplied)</td>
                                    </tr>
                                    }
                            </tbody>
                            <tbody class="tbody-expandrows">
                                <tr class="no-btm-border">
                                    <td colspan="2"></td>
                                    <td class="no-wrap ta-center">
                                        <a class="btnExpandRows fake-link" href="#" aria-expanded="false"><i class="fa fa-angle-down"></i>More</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        }

                    @if (Model.UnsuccessfulApplications.Any())
                    {
                        <h2 class="heading-medium" id="dashUnsuccessful">Unsuccessful</h2>
                            if (Model.UnsuccessfulApplications.Any(a => a.ApplicationStatus == ApplicationStatuses.Unsuccessful))
                            {
                                <div class="panel-indent font-xxsmall" id="candidate-support-message">
                                    <p>Some of your applications have been unsuccessful. Please contact the training provider for further information.</p>
                                    <p>For careers advice and support visit the <a rel="external" target="_blank" href="https://nationalcareersservice.direct.gov.uk/pages/home.aspx">National Careers Service</a>.</p>
                                </div>
                            }
                            <table class="vert-middle">
                                <colgroup>
                                    <col class="t50">
                                    <col class="t25">
                                    <col class="t25">
                                    <col>
                                </colgroup>
                                <tbody class="tbody-3rows tbody-withReasons">
                                    @foreach (var application in @Model.UnsuccessfulApplications)
                                    {
                                        <tr>
                                            <td>
                                                @if (application.VacancyStatus == VacancyStatuses.Unavailable)
                                                {
                                                    @application.Title @:with @application.EmployerName
                                                }
                                                else
                                                {
                                                    @Html.ActionLink(application.Title + " with " + @application.EmployerName, "ApprenticeshipVacancyDetails", "Account", new { id = application.VacancyId }, new { @class = "link-unimp" })
                                                }
                                            </td>
                                            <td id="application-status-description" class="ta-center">@application.ApplicationStatusDescription</td>
                                            <td class="ta-center">
                                                <a class="icon-black archive-unsuccessful" href="@Url.Action("Archive", "Account", new { id = application.VacancyId })"><i class="copy-16 fa fa-times-circle"></i><span class="visuallyhidden">Delete</span></a>
                                            </td>
                                        </tr>

                                        if (!string.IsNullOrWhiteSpace(application.UnsuccessfulReason))
                                        {
                                            <tr>
                                                <td colspan="3">
                                                    <b>Reason:</b> @application.UnsuccessfulReason
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tbody class="tbody-expandrows">
                                    <tr class="no-btm-border">
                                        <td colspan="2"></td>
                                        <td class="no-wrap ta-center">
                                            <a class="btnExpandRows fake-link" href="#" aria-expanded="false"><i class="fa fa-angle-down"></i>More</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                </section>
            </div>
        </div>
        }

    @if (
            Model.DraftApprenticeshipApplications.Any() ||
            Model.TraineeshipApplications.Any())
        {
        <div class="grid grid-1-2">
            <section class="clearfix">
                @if (Model.DraftApprenticeshipApplications.Any())
                {
                    <h2 class="heading-medium" id="dashDrafts">Drafts</h2>
                    <table class="vert-middle">
                        <colgroup>
                            <col class="t70">
                            <col class="t20">
                            <col class="t10">
                            <col>
                        </colgroup>
                        <tbody>
                            @foreach (var application in @Model.DraftApprenticeshipApplications)
                            {
                                <tr>
                                    <td>
                                        @if (application.VacancyStatus == VacancyStatuses.Unavailable)
                                        {
                                            @application.Title @:with @application.EmployerName
                                        }
                                        else
                                        {
                                            @Html.ActionLink(application.Title + " with " + @application.EmployerName, "ApprenticeshipVacancyDetails", "Account", new { id = application.VacancyId }, new { @class = "link-unimp" })

                                            if (application.VacancyStatus == VacancyStatuses.Live)
                                            {
                                                <br />
                                                <strong>Closing date:</strong> @application.ClosingDate.ToFriendlyClosingWeek()
                                            }
                                        }
                                    </td>
                                    <td class="ta-center">
                                        @if (application.ApplicationStatus == ApplicationStatuses.Draft && application.VacancyStatus == VacancyStatuses.Live)
                                        {
                                            @Html.ActionLink("Resume", "Resume", "ApprenticeshipApplication", new { id = application.VacancyId }, new { @class = "resume-link" })
                                        }
                                        else
                                        {
                                            switch (application.VacancyStatus)
                                            {
                                                case VacancyStatuses.Expired:
                                                    @:Apprenticeship closed
                                                    break;
                                                case VacancyStatuses.Unavailable:
                                                    @:Apprenticeship no longer available
                                                    break;
                                            }
                                        }
                                    </td>
                                    <td class="ta-center">
                                        <a class="icon-black delete-draft" href="@Url.Action("Delete", "Account", new { id = application.VacancyId })"><i class="copy-16 fa fa-times-circle"></i><span class="visuallyhidden">Delete</span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                @if (Model.TraineeshipApplications.Any())
                {
                    <h2 class="heading-medium" id="dashTraineeships">Traineeships</h2>
                    <table id="traineeships-table" class="vert-middle">
                        <colgroup>
                            <col class="t60">
                            <col class="t20">
                            <col class="t20">
                            <col>
                        </colgroup>
                        <tbody class="tbody-3rows">
                            @foreach (var application in @Model.TraineeshipApplications)
                            {
                                <tr class="traineeship-table-row">
                                    <td>
                                        @if (application.VacancyStatus == VacancyStatuses.Unavailable)
                                        {
                                            @application.Title @:with @application.EmployerName
                                        }
                                        else
                                        {
                                            @Html.ActionLink(application.Title + " with " + @application.EmployerName, "TraineeshipVacancyDetails", "Account", new { id = application.VacancyId }, new { @class = "link-unimp" })
                                        }
                                    </td>
                                    <td class="ta-center">Applied</td>
                                    <td class="ta-center">@Html.DisplayFor(m => application.DateApplied)</td>
                                </tr>
                            }
                        </tbody>
                        <tbody class="tbody-expandrows">
                            <tr class="no-btm-border">
                                <td colspan="2"></td>
                                <td class="no-wrap ta-center">
                                    <a class="btnExpandRows fake-link" href="#" aria-expanded="false"><i class="fa fa-angle-down"></i>More</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </section>
        </div>
        }
    </div>
}
