@using SFA.Apprenticeships.Domain.Entities.Applications
@model SFA.Apprenticeships.Web.Candidate.ViewModels.MyApplications.MyApplicationsViewModel

@{
    ViewBag.Title = "Apprenticeships - My applications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.VacancyId != null && ViewBag.VacancyTitle != null)
{
    const string deleteMessage = "You’ve successfully deleted your draft for the <a id='vacancyDeletedLink' href={0}>{1}</a> apprenticeship";
    var deletedMessageWithLink = string.Format(deleteMessage, Url.Action("Details", "VacancySearch", new {id = ViewBag.VacancyId}), ViewBag.VacancyTitle);
     
    <div role="alert" aria-live="assertive" class="panel-info">
        <p id="VacancyDeletedInfoMessageText">@Html.Raw(deletedMessageWithLink)</p>
    </div>
}

@if (ViewBag.RenderTraineeshipsPrompt != null && ViewBag.RenderTraineeshipsPrompt)
{
    <div role="alert" aria-live="assertive" id="tshipPrompt" class="toggle-content panel-info" style="display: block;">
        <div class="text">
            <p>
                Have you considered a traineeship? Traineeships are courses designed
                to get someone ready for an apprenticeship.
            </p>
            <p>
                <a id="traineeship-overview-link" href=@Url.Action("Overview", "Traineeship")>More about traineeships</a>
            </p>
        </div>
    </div>
}

<div class="grid-wrapper">
    <div class="grid grid-1-2">
        <h1 class="heading-xlarge">My applications</h1>
    </div>
    @if (
            Model.AllApplications.Any()
        )
    {
        <div class="grid grid-1-2">
            @Html.ActionLink("Find an apprenticeship", "Index", "VacancySearch", null, new { @class = "page-link" })
        </div>
    }
</div>
@if (
        !Model.AllApplications.Any()
    )
{
    <div class="text">
        <p id="empty-application-history-text">Your application history is currently empty. This is because you haven’t submitted or saved any apprenticeship applications yet.</p>
        <p>Once you start, applications will be recorded and you’ll be able to track your progress</p>
        <div class="get-started">@Html.ActionLink("Find an apprenticeship", "Index", "VacancySearch", null, new { @class = "button" })</div>
    </div>
}
else
{
    <ul class="list-nav">
        @if (Model.SuccessfulApplications.Any())
        {
            <li>
                <span id="successful-applications-count" class="bold-medium">@Model.SuccessfulApplications.Count()</span>  <a class="" href="#dashSuccessful">Successful</a>
            </li>
        }
        @if (Model.SubmittedApplications.Any())
        {
            <li>
                <span id="submitted-applications-count" class="bold-medium">@Model.SubmittedApplications.Count()</span>  <a class="" href="#dashSubmitted">Submitted</a>
            </li>
        }
        @if (Model.UnsuccessfulApplications.Any())
        {
            <li>
                <span id="unsuccessful-applications-count" class="bold-medium">@Model.UnsuccessfulApplications.Count()</span>  <a class="" href="#dashUnsuccessful">Unsuccessful</a>
            </li>
        }
        @if (Model.DraftApplications.Any())
        {
            <li>
                <span id="draft-applications-count" class="bold-medium">@Model.DraftApplications.Count()</span>  <a class="" href="#dashDrafts">Drafts</a>
            </li>
        }
    </ul>
    <div class="grid-wrapper proto-dashboard">
        @if (
            Model.SuccessfulApplications.Any() ||
            Model.UnsuccessfulApplications.Any() ||
            Model.SubmittedApplications.Any())
        {
            <div class="grid grid-1-2">
                <div class="inner-block-padr">
                    <section class="clearfix">
                        @if (Model.SuccessfulApplications.Any())
                        {
                            <h2 class="heading-medium" id="dashSuccessful">Successful</h2>
                            <table class="vert-middle">
                                <colgroup>
                                    <col class="t50">
                                    <col class="t25">
                                    <col class="t25">
                                    <col>
                                </colgroup>
                                <tbody class="tbody-3rows">
                                    @foreach (var application in @Model.SuccessfulApplications)
                                    {
                                        <tr>
                                            <td>@application.Title with @application.EmployerName</td>
                                            <td class="ta-center">@application.ApplicationStatusDescription</td>
                                            <td class="ta-center">
                                                <a class="icon-black archive-successful" href="@Url.Action("Archive", "Account", new { id = application.VacancyId })"><i class="copy-16 fa fa-times-circle"></i><span class="visuallyhidden">Delete</span></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tbody class="tbody-expandrows">
                                    <tr class="no-btm-border">
                                        <td colspan="2"></td>
                                        <td class="no-wrap ta-center">
                                            <a class="btnExpandRows fake-link" href="#" aria-expanded="false"><i class="fa fa-angle-down"></i>More</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }

                        @if (Model.SubmittedApplications.Any())
                        {
                            <h2 class="heading-medium" id="dashSubmitted">Submitted</h2>
                            <table class="vert-middle">
                                <colgroup>
                                    <col class="t50">
                                    <col class="t25">
                                    <col class="t25">
                                    <col>
                                </colgroup>
                                <tbody class="tbody-3rows">
                                    @foreach (var application in @Model.SubmittedApplications)
                                    {
                                        <tr>
                                            <td>@application.Title with @application.EmployerName</td>
                                            <td class="ta-center">@application.ApplicationStatusDescription</td>
                                            <td class="ta-center">@Html.DisplayFor(m => application.DateApplied)</td>
                                        </tr>
                                    }
                                </tbody>
                                <tbody class="tbody-expandrows">
                                    <tr class="no-btm-border">
                                        <td colspan="2"></td>
                                        <td class="no-wrap ta-center">
                                            <a class="btnExpandRows fake-link" href="#" aria-expanded="false"><i class="fa fa-angle-down"></i>More</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }

                        @if (Model.UnsuccessfulApplications.Any())
                        {
                            <h2 class="heading-medium" id="dashUnsuccessful">Unsuccessful</h2>
                            <div class="panel-indent font-xxsmall">
                                <p>Some of your applications have been unsuccessful. Please contact the training provider for futher information.</p>
                                <p>For careers advice and support visit the <a rel="external" target="_blank" href="https://nationalcareersservice.direct.gov.uk/pages/home.aspx">National Careers Service</a>.</p>
                            </div>
                            <table class="vert-middle">
                                <colgroup>
                                    <col class="t50">
                                    <col class="t25">
                                    <col class="t25">
                                    <col>
                                </colgroup>
                                <tbody class="tbody-3rows">
                                    @foreach (var application in @Model.UnsuccessfulApplications)
                                    {
                                        <tr>
                                            <td>@application.Title with @application.EmployerName</td>
                                            <td id="application-status-description" class="ta-center">@application.ApplicationStatusDescription</td>
                                            <td class="ta-center">
                                                <a class="icon-black archive-unsuccessful" href="@Url.Action("Archive", "Account", new { id = application.VacancyId })"><i class="copy-16 fa fa-times-circle"></i><span class="visuallyhidden">Delete</span></a>
                                            </td>
                                        </tr>

                                        if (!string.IsNullOrWhiteSpace(application.UnsuccessfulReason))
                                        {
                                            <tr>
                                                <td colspan="3">
                                                    <b>Reason:</b> @application.UnsuccessfulReason
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tbody class="tbody-expandrows">
                                    <tr class="no-btm-border">
                                        <td colspan="2"></td>
                                        <td class="no-wrap ta-center">
                                            <a class="btnExpandRows fake-link" href="#" aria-expanded="false"><i class="fa fa-angle-down"></i>More</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </section>
                </div>
            </div>
        }

        @if (Model.DraftApplications.Any())
        {
            <div class="grid grid-1-2">
                <section class="clearfix">
                    <h2 class="heading-medium" id="dashDrafts">Drafts</h2>
                    <table class="vert-middle">
                        <colgroup>
                            <col class="t70">
                            <col class="t20">
                            <col class="t10">
                            <col>
                        </colgroup>
                        <tbody>
                            @foreach (var application in @Model.DraftApplications)
                            {
                                <tr>
                                    <td>
                                        @application.Title with @application.EmployerName

                                        @if (application.ApplicationStatus == ApplicationStatuses.Draft)
                                        {
                                            <br />
                                            <strong>Closing date:</strong> @Html.DisplayFor(m => application.ClosingDate)
                                        }
                                    </td>
                                    <td class="ta-center">
                                        @if (application.ApplicationStatus == ApplicationStatuses.Draft)
                                        {
                                            @Html.ActionLink("Resume", "Resume", "ApprenticeshipApplication", new { id = application.VacancyId }, new { @class = "resume-link" })
                                        }
                                        else
                                        {
                                            @:Apprenticeship withdrawn
                                        }
                                    </td>
                                    <td class="ta-center">
                                        <a class="icon-black delete-draft" href="@Url.Action("Delete", "Account", new { id = application.VacancyId })"><i class="copy-16 fa fa-times-circle"></i><span class="visuallyhidden">Delete</span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
            </div>
        }
    </div>
}

@section scripts
{
    <script type="text/javascript">

        //var lastDraftDeleteClicked = new Date();

        //function timeDelay() {
        //    var d = new Date();
        //    while (d.getTime() < (lastDraftDeleteClicked.getTime() + 2550)) {
        //        d = new Date();
        //    }

        //    lastDraftDeleteClicked = new Date();
        //}

        //var showConfirmationMessage = function (message, e) {
        //    timeDelay();
        //    if (!window.confirm(message)) {
        //        if (e.preventDefault) e.preventDefault();
        //        return false;
        //    }
        //};

        //$('.delete-draft').on('click', function(e) {
        //    showConfirmationMessage("TODO: Do you really want to delete this draft?", e);
        //});

        //$('.archive-successful').on('click', function(e) {
        //    showConfirmationMessage("TODO: Do you really want to delete this successful application?", e);
        //});

        //$('.archive-unsuccessful').on('click', function(e) {
        //    showConfirmationMessage("TODO: Do you really want to delete this unsuccessful application?", e);
        //});

    </script>
}