@model SFA.Apprenticeships.Web.Candidate.ViewModels.Account.SettingsViewModel

@{
    ViewBag.Title = "Apprenticeships - My settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid-wrapper">
    <div class="grid grid-1-2">
        <h1 class="heading-xlarge">Your account settings</h1>
    </div>
    <div class="grid grid-1-2">
        <p>
            @Html.RouteLink("Find an apprenticeship", CandidateRouteNames.ApprenticeshipSearch, null, new { id = "find-apprenticeship-link", @class = "page-link" })
        </p>
    @if (Model.TraineeshipFeature.ShowTraineeshipsLink)
    {
        <p>
            @Html.RouteLink("Find a traineeship", CandidateRouteNames.TraineeshipSearch, null, new { id = "find-traineeship-link", @class = "page-link" })
        </p>
    }
    </div>
</div>

<div class="panel-indent">
    <p class="text">Your changes will be seen on any draft or new applications. Submitted applications will continue to show your old details.</p>
</div>

@using (Html.BeginRouteForm(CandidateRouteNames.Settings, FormMethod.Post))
{
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    <fieldset>
        <legend class="heading-large">Personal details</legend>
        @Html.FormTextFor(m => m.Firstname, containerHtmlAttributes: new { @class = "form-group-compound" }, controlHtmlAttributes: new { type = "text", autocorrect = "off" })
        @Html.FormTextFor(m => m.Lastname, controlHtmlAttributes: new { type = "text", autocorrect = "off" })
        @Html.EditorFor(r => r.DateOfBirth)
        @Html.EditorFor(a => a.Address, new { AnalyticsDSCUri = "/settings/findaddress" })
        @Html.FormTextFor(m => m.PhoneNumber, controlHtmlAttributes: new { @class = "form-control", type = "tel" }, verified: Model.VerifiedMobile)
        
        <div id="accountSettings2">
            <h3 class="heading-large">How we contact you</h3>

            <div class="form-group form-group-compound">
                <p class="form-label">Receive notifications?</p>
                <span class="form-hint">If you don't select an option you won't receive notifications</span>
                @Html.FormUnvalidatedCheckBoxFor(m => m.AllowEmailComms, labelHtmlAttributes: new { @class = "block-label" })
                @if (Model.SmsEnabled)
                {
                    @Html.FormUnvalidatedCheckBoxFor(m => m.AllowSmsComms, labelHtmlAttributes: new { @class = "block-label" })
                }
            </div>

            <div class="panel-indent text">
                <p>We'll notify you when:</p>
                <ul class="list-bullet">
                    <li>you submit an application form</li>
                    @*<li>the status of one of your applications changes</li>*@
                    <li>an apprenticeship is approaching its closing date</li>
                </ul>
            </div>

            <div class="form-group form-group-compound">
                <p class="form-label">Receive updates on news and information?</p>
                @Html.FormUnvalidatedCheckBoxFor(m => m.AllowEmailMarketing, labelHtmlAttributes: new { @class = "block-label" })
                @if (Model.SmsEnabled)
                {
                    @Html.FormUnvalidatedCheckBoxFor(m => m.AllowSmsMarketing, labelHtmlAttributes: new { @class = "block-label" })
                }
            </div>

            <div class="panel-indent text">
                <p>
                    We regularly send out latest careers news and information on upcoming
                    events
                </p>
            </div>
        </div>

    </fieldset>

    <div class="form-group">
        <button id="update-details-button" class="button">Update details</button>
    </div>
}

@section scripts
{
    <script>
        $(function () {
            $("#find-addresses").addressLookup({
                url: '@Url.Action("Addresses", "Location")',
                selectlist: '#address-select'
            });
        });
    </script>
}
