@model SFA.Apprenticeships.Web.Candidate.ViewModels.Account.VerifyMobileViewModel

@{
    ViewBag.Title = "Apprenticeships - Verify Mobile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid-wrapper">
    <div class="grid grid-1-2">
        <h1 class="heading-xlarge">Verify your mobile number</h1>
    </div>
    <div class="grid grid-1-2">
        <p>
            @Html.RouteLink("Find an apprenticeship", CandidateRouteNames.ApprenticeshipSearch, null, new { id = "find-apprenticeship-link", @class = "page-link" })
        </p>
        @if (Model.TraineeshipFeature.ShowTraineeshipsLink)
        {
            <p>
                @Html.RouteLink("Find a traineeship", CandidateRouteNames.TraineeshipSearch, null, new { id = "find-traineeship-link", @class = "page-link" })
            </p>
        }
    </div>
</div>


<p class="text">To receive notifications via text message, you'll need to verify your mobile number by entering the code that was sent to your mobile phone.</p>


@using (Html.BeginRouteForm(CandidateRouteNames.VerifyMobile, FormMethod.Post, new { @id = "verify-mobile-form" }))
{
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    <fieldset>

        <div class="form-group">
            <p class="form-label">Mobile number</p>
            <span class="form-prepopped" id="phoneNumber">@Model.PhoneNumber</span>
            @Html.HiddenFor(m => m.PhoneNumber)
            @Html.HiddenFor(m => m.ReturnUrl)
        </div>


        @Html.FormTextFor(
        m => m.VerifyMobileCode,
        controlHtmlAttributes: new { @maxlength = "4" },
        containerHtmlAttributes: new { @class = "form-group-withlink" })
    </fieldset>
    <div class="form-group">
        <button id="ResendMobileVerificationCodeLink" type="submit" name="VerifyMobileAction:Resend" class="button-link" value="Resend" formnovalidate>Resend code</button>
        <p>
            <button class="button" id="verify-code-button" type="submit" name="VerifyMobileAction:VerifyMobile">Verify number</button>
        </p>
    </div>
}


