@model AboutYouViewModel

<fieldset id="applyAboutYou" class="fieldset-with-border">
    <legend class="heading-large">About you</legend>
    <div class="form-group text">
        <details>
            <summary role="button">Help with this section</summary>
            <p class="panel-indent">
                Think carefully about how you answer these questions. Where possible,
                keep the vacancy that you're applying for in mind, and tailor your
                answers to match the role.
            </p>
        </details>
    </div>

    @Html.FormTextAreaFor(m => m.WhatAreYourStrengths, controlHtmlAttributes: new { @data_val_length_max = "4000", rows = "4" }, hintHtmlAttributes: new { @class = "text" })
    @Html.FormTextAreaFor(m => m.WhatDoYouFeelYouCouldImprove, controlHtmlAttributes: new { @data_val_length_max = "4000", rows = "4" }, hintHtmlAttributes: new { @class = "text" })
    @Html.FormTextAreaFor(m => m.WhatAreYourHobbiesInterests, controlHtmlAttributes: new { @data_val_length_max = "4000", rows = "4" }, hintHtmlAttributes: new { @class = "text" })

    <div class="form-group">
        <p class="form-label">Is there anything we can do to support your interview?</p>
        <p class="form-hint">For example, do you need a signer, information in braille.</p>
        <div class="form-group form-group-compound inline">
            <label data-target="support-panel" for="support-yes" class="block-label">
                @Html.RadioButtonFor(m => m.RequiresSupportForInterview, true, true, new { id = "support-yes" }) Yes
            </label>
            <label for="support-no" class="block-label">
                @Html.RadioButtonFor(m => m.RequiresSupportForInterview, false, false, new { id = "support-no" }) No
            </label>
        </div>
        <div id="support-panel" class="panel-indent toggle-content">
            @Html.FormTextAreaFor(m => m.AnythingWeCanDoToSupportYourInterview, controlHtmlAttributes: new { @data_val_length_max = "4000", rows = "4" }, labelHtmlAttributes: new { @class = "form-hint text" })
        </div>
    </div>


</fieldset>
