@model RegisterViewModel

@{
    ViewBag.Title = "Apprenticeships - Create an account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="heading-xlarge">Create an account</h1>

@using (Html.BeginForm("Index", "Register", FormMethod.Post))
{
    @Html.Partial("ValidationSummary", ViewData.ModelState)
    
    //Hidden password input to disable autocomplete
    <input title="Hidden password field" type="password" class="alwayshidden" />

    <fieldset class="fieldset-with-border">
        <legend class="heading-large">Your details</legend>
        @Html.FormTextFor(m => m.Firstname, containerHtmlAttributes: new { @class = "form-group-compound" }, controlHtmlAttributes: new { type = "text", autocapitalize = "words", autocorrect = "off", autofocus = "true" })
        @Html.FormTextFor(m => m.Lastname, controlHtmlAttributes: new { type = "text", autocapitalize = "words", autocorrect = "off" })
        @Html.EditorFor(r => r.DateOfBirth)
    </fieldset>

    <fieldset class="fieldset-with-border">
        <legend class="heading-large">Contact details</legend>
        <div class="form-group">

            @Html.EditorFor(a => a.Address)
            @Html.FormTextFor(m => m.EmailAddress, controlHtmlAttributes: new { @class = "linked-input-master", type = "email", spellcheck = "false" }, hintHtmlAttributes: new { @class = "text" })
            <span id="email-available-message" class="validation-message"></span>

            @Html.FormTextFor(m => m.PhoneNumber, controlHtmlAttributes: new { @class = "form-control-1-3", type = "tel" }, hintHtmlAttributes: new { @class = "text" })

        </div>
    </fieldset>

    <fieldset class="fieldset-with-border">
        <legend class="heading-large">Sign in details</legend>
        <div class="form-group">
            <p class="form-label">Email address</p>
            <span class="form-prepopped hidden linked-input-slave"></span>
            <input type="text" class="form-prepopped alwayshidden linked-input-slave" name="username">
            <a class="inl-block inpage-focus" href="#@Html.IdFor(m => m.EmailAddress)">Edit your email</a>
        </div>
        <div class="form-group" id="password">
            @Html.LabelFor(m => m.Password, new { @class = "form-label" })
            <span class="form-hint text">Requires upper and lowercase letters, a number and at least 8 characters</span>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })
            <p class="form-hint strength-indicator">Password strength: <span id="pass_meter" class=""></span></p>
            @Html.ValidationMessageFor(m => m.Password, null, new { @class="text" })
        </div>
        <div class="form-group" id="confirmpassword">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text" })
        </div>
    </fieldset>

    <fieldset>
        <details class="text">
            <summary role="button">Read our terms &amp; conditions</summary>
            <div class="detail-content max-height-15 scrolling-panel copy-16">
                <div class="terms-and-conditions">
                    <h2 class="heading-small">Skills Funding Agency&#8217;s terms and conditions for the apprenticeship vacancies system</h2>
                    <p>[Page last updated on 19 Aug 2014]</p>
                    <p>
                        These terms and conditions apply to candidates who are registered
                        for the purposes of searching for apprenticeship vacancies on
                        GOV.UK
                    </p>
                    <p>
                        The terms and conditions explain how we use information and the
                        steps we take to provide a safe website.
                    </p>
                    <p>1. Data Protection Act 1998</p>
                    <p>
                        The Skills Funding Agency (SFA) is registered with the Information
                        Commissioner&#8217;s Office (ICO) which is responsible for the Data
                        Protection and Freedom of Information Acts. Our notification
                        can be seen on the ICO website http://www.ico.gov.uk/
                    </p>
                    <p>
                        You&#8217;ve certain rights over the information you provide. These rights
                        are under the Data Protection Act 1998. Personal information
                        from users is only collected if given to us.
                    </p>
                    <p>
                        The system isn&#8217;t intended to attract children under the age of
                        14 and the SFA doesn&#8217;t knowingly ask or send them requests for
                        personal information.
                    </p>
                    <p>2. Use of personal information</p>
                    <p>
                        a) The vacancies system allows individuals to apply for apprenticeships
                        and be kept informed of apprenticeship opportunities.
                    </p>
                    <p>
                        It also allows the National Careers Service (NCS) and its employees
                        or agents to search for apprenticeship vacancies and pass details
                        to clients for the purpose of providing careers advice and guidance.
                    </p>
                    <p>
                        Personal information obtained will be provided to learning providers
                        and employers only to match candidates to possible apprenticeship
                        vacancies, including those employers or providers offering a
                        guaranteed interview scheme. Learning providers may act on behalf
                        of employers to shortlist candidates for interview.
                    </p>
                    <p>b) In addition, information will be used for the following purposes:</p>
                    <ul>
                        <li>dealing with enquiries and responding to helpline requests</li>
                        <li>helping candidates use the vacancies system</li>
                        <li>assisting organisations in supporting candidates</li>
                        <li>notifying candidates of changes to the system</li>
                        <li>informing candidates of vacancies that may be of interest</li>
                    </ul>
                    <p>
                        c) The information provided in the &#8216;My areas of interest&#8217; section
                        and a candidate&#8217;s &#8216;favourite searches&#8217; will be held and only
                        used to identify potential areas of demand by the SFA. It won&#8217;t
                        be passed on to any third party.
                    </p>
                    <p>d) Research and partner information</p>
                    <p>
                        We may share statistics about website visitors, content, traffic
                        patterns and other related information with reputable third parties.
                    </p>
                    <p>
                        User data will be shared with partner organisations, and their
                        employees and agents, to support the candidate in the search
                        and application process.
                    </p>
                    <p>
                        Personal information relating to users or administrators may be
                        used for administration and research purposes.
                    </p>
                    <p>e) Additional uses</p>
                    <p>
                        Personal information may be held by the SFA, or by any successors,
                        for the purposes described above.
                    </p>
                    <p>f) Duration of candidate data held and deleting your account</p>
                    <p>
                        The system will check for inactive accounts as part of its system
                        performance. Candidates who have completed the registration process
                        but haven’t logged on for 12 months will be deleted. In addition,
                        candidates who started the registration process but haven&#8217;t activated
                        their account within 30 days will also be deleted. In both cases
                        the candidate&#8217;s personal details will be removed, and they&#8217;ll
                        be required to re-register to use the system.
                    </p>
                    <p>
                        Candidates can also remove their details in accordance with the
                        Data Protection Act 1998 by deleting their account through their
                        &#8216;My Profile&#8217; menu or by contacting the National Helpdesk at nationalhelpdesk@apprenticeships.gov.uk.
                        This will remove all personal details and the account will be
                        deleted. The candidate will need to re-register to use the system.
                    </p>
                    <p>g) Improper use and data held</p>
                    <p>
                        The SFA reserves the right to delete candidate accounts that make
                        use of inappropriate personal information, including email addresses
                        and usernames.
                    </p>
                    <p>
                        The SFA shall pass on to third parties personal information of
                        candidates, learning providers, and employers or personal information
                        obtained from the system for the purpose of investigating any
                        illegal or improper use or behaviour. The SFA will also disclose
                        personal information, if required by law, to protect personal
                        safety, the public or the vacancies system.
                    </p>
                    <p>3. Security</p>
                    <p>
                        The SFA will use reasonable effort to ensure all personal information
                        is secure against unauthorised access.
                    </p>
                    <p>
                        When the SFA needs to send information to third parties for the
                        purpose of providing a service to candidates, we&#8217;ll only provide
                        those third parties the information they need to deliver the
                        service, and they&#8217;re prohibited from using that information for
                        any other purpose.
                    </p>
                    <p>
                        The SFA isn&#8217;t responsible for the content or security of any sites
                        linked to and from the vacancies system.
                    </p>
                    <p>
                        You&#8217;ll keep any passwords or usernames created for the purpose
                        of your use confidential and you agree not to disclose your password
                        and username to anyone else.
                    </p>
                    <p>4. Your consent</p>
                    <p>
                        By providing personal information, you consent to the use of this
                        information as described in these terms and conditions or as
                        stated at the time that such information is obtained. These terms
                        and conditions may be changed, modified or amended. Any changes
                        will be posted on this page. Your continued use of the vacancies
                        system following the posting of any changes to the terms and
                        conditions will mean you&#8217;ve accepted those changes.
                    </p>
                    <p>5. Service provision and data</p>
                    <p>
                        The vacancies system is intended to be available 7 days a week,
                        24 hours a day, subject to planned maintenance slots. The SFA
                        won&#8217;t be liable for any failure to achieve this level of availability.
                    </p>
                    <p>
                        The system may be suspended without notice for maintenance or repair
                        and for system failure or reasons beyond our control.
                    </p>
                    <p>
                        The SFA will endeavour to exclude viruses from the system and data
                        but can&#8217;t guarantee this. The user should take appropriate steps
                        in respect of any such risk from virus attack.
                    </p>
                    <p>
                        The SFA isn&#8217;t responsible for the content of external sites that
                        link to the system or which are linked from it. It has no control
                        over the availability of linked pages and can&#8217;t guarantee these
                        links will always work. The system and data are for general information
                        purposes only. Although the SFA has made reasonable efforts to
                        ensure information on the vacancies system is as full and accurate
                        as possible, it doesn&#8217;t claim the data is fully comprehensive
                        or accurate.
                    </p>
                    <p>6. Limitation of liability</p>
                    <p>
                        The SFA accepts no liability in contract, tort or otherwise including
                        negligence for:
                    </p>
                    <ul>
                        <li>
                            loss of access due to routine and emergency maintenance or excessive
                            demand
                        </li>
                        <li>loss of any data</li>
                        <li>delay or failure in receipt of data</li>
                        <li>
                            indirect or consequential damages arising from the use of the
                            system, or relying on its content
                        </li>
                    </ul>
                    <p>7. Copyright</p>
                    <p>
                        The SFA owns the copyright to the content of the system. Reproduction
                        in any form, or by any means, of text, logos or graphics isn&#8217;t
                        allowed without the express written permission of the SFA unless
                        otherwise stated.
                    </p>
                    <p>8. General</p>
                    <p>
                        This agreement shall be governed by and construed in accordance
                        with English law and each party to this agreement submits to
                        the exclusive jurisdiction of the English courts.
                    </p>
                </div>
            </div>
        </details>

        @Html.FormCheckBoxFor(m => m.HasAcceptedTermsAndConditions, labelHtmlAttributes: new { @class = "block-label" })

    </fieldset>

    <div class="form-group">
        <button id="create-account-btn" class="button">Create account</button>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/nas/passwordstrength")

    <script>
        $(function () {

            $("#find-addresses").addressLookup({
                url: '@Url.Action("Addresses", "Location")',
                selectlist: '#address-select'
            });

            $('input[id=EmailAddress]').usernameLookup('@Url.Action("CheckUsername", "Register")');

        });

    </script>
}
