@model RegisterViewModel

@{
    ViewBag.Title = "Apprenticeships - Create an account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="heading-xlarge">Create an account</h1>

@using (Html.BeginForm("Index", "Register", FormMethod.Post))
{
    @Html.Partial("ValidationSummary", ViewData.ModelState)
    
    //Hidden password input to disable autocomplete
    <input title="Hidden password field" type="password" class="alwayshidden" />

    <fieldset class="fieldset-with-border">
        <legend class="heading-large">Your details</legend>
        @Html.FormTextFor(m => m.Firstname, containerHtmlAttributes: new { @class = "form-group-compound" }, controlHtmlAttributes: new { type = "text", autocorrect = "off" })
        @Html.FormTextFor(m => m.Lastname, controlHtmlAttributes: new { type = "text", autocorrect = "off" })
        @Html.EditorFor(r => r.DateOfBirth)
    </fieldset>

    <fieldset class="fieldset-with-border">
        <legend class="heading-large">Contact details</legend>
        <div class="form-group">

            @Html.EditorFor(a => a.Address, new { AnalyticsDSCUri = "/register/findaddress" })
            @Html.FormTextFor(m => m.EmailAddress, controlHtmlAttributes: new { @class = "linked-input-master", type = "email", spellcheck = "false" }, hintHtmlAttributes: new { @class = "text" })
            <span aria-live="polite" id="email-available-message" class="validation-message"></span>

            @Html.FormTextFor(m => m.PhoneNumber, controlHtmlAttributes: new { @class = "form-control-1-3", type = "tel" }, hintHtmlAttributes: new { @class = "text" })

        </div>
    </fieldset>

    <fieldset class="fieldset-with-border">
        <legend class="heading-large">Sign in details</legend>
        <div class="form-group">
            <p class="form-label">Email address</p>
            <span class="form-prepopped hidden linked-input-slave"></span>
            <label class="alwayshidden" for="hiddenUsername"></label>
            <input type="text" class="form-prepopped alwayshidden linked-input-slave" name="username" id="hiddenUsername">
            <a class="inl-block inpage-focus" href="#@Html.IdFor(m => m.EmailAddress)">Edit your email</a>
        </div>
        
        <div class="form-group">
            @Html.FormPasswordFor(m => m.Password, containerHtmlAttributes: new { @class = "form-group-compound" })
            <p class="form-hint strength-indicator hide-nojs">Password strength: <span id="pass_meter" class=""></span></p>
        </div>
        
        <div class="form-group">
            @Html.FormPasswordFor(m => m.ConfirmPassword)
        </div>
    </fieldset>

    @Html.FormCheckBoxFor(m => m.HasAcceptedTermsAndConditions, labelHtmlAttributes: new { @class = "block-label" })

    <div class="form-group">
        <button id="create-account-btn" class="button">Create account</button>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/nas/passwordstrength")

    <script>
        $(function () {

            $("#find-addresses").addressLookup({
                url: '@Url.Action("Addresses", "Location")',
                selectlist: '#address-select'
            });

            $('input[id=EmailAddress]').usernameLookup('@Url.Action("CheckUsername", "Register")');

        });

    </script>
}
