@model PasswordResetViewModel

@{
    ViewBag.Title = "Apprenticeships - Password reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ResetPassword", "Register", FormMethod.Post, new { @id = "reset-password-form" }))
{
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    //Hide some inputs to stop chrome from autofilling
    <input type="text" class="alwayshidden" />
    <input type="password" class="alwayshidden" />   
    
    <fieldset class="inner-block-padr">
        <legend class="heading-large">Password reset</legend>

        <p class="text">Enter your 6-character code to reset your password</p>
        <div class="form-group">
            <p class="form-label">Email address</p>
            <span class="form-prepopped">@Html.DisplayFor(m => m.EmailAddress)</span>
        </div>

        @Html.FormTextFor(m => m.PasswordResetCode, controlHtmlAttributes: new { @class = "form-control-2-3", @maxlength = "6" }, containerHtmlAttributes: new { @class = "form-group-withlink" })
        <div class="form-group">
            <p>@Html.ActionLink("Resend code", "ResendPasswordResetCode", new { @emailAddress = Model.EmailAddress }, null)</p>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "form-label" })

            <span class="form-hint text">Requires upper and lowercase letters, a number and at least 8 characters</span>
            <div class="password-wrapper">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                <span class="pw-masktoggle button-link hide-nojs">Show</span>
            </div>
            <p class="form-hint strength-indicator hide-nojs">Password strength: <span id="pass_meter" class=""></span></p>
            <div class="text">@Html.ValidationMessageFor(m => m.Password, null)</div>
        </div>
        <div class="form-group">
            <button class="button" id="reset-password-button">Reset password</button>
        </div>

        @Html.HiddenFor(m => m.EmailAddress)

    </fieldset>
}

@section scripts{
    <script src="@Url.Content("~/Content/_assets/js/vendor/zxcvbn-async.js")"></script>
}