@model LoginViewModel

@{
    ViewBag.Title = "Apprenticeships - Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var loginMessage = TempData["LoginMessage"];
}

@Html.Partial("ValidationSummary", ViewData.ModelState)

@if (loginMessage != null)
{
    <div class="panel-success">
        <p id="LoginMessageText" class="text"><i class="fa fa-check"></i>@loginMessage</p>
    </div>
}

<div class="grid-wrapper">
    <div class="grid grid-1-2">
        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
        {
            <fieldset>
                <legend class="heading-large">Sign in</legend>
                <p>
                    Sign in or
                    @Html.ActionLink("create an account", controllerName: "Register", actionName: "Index").
                </p>

                @Html.FormTextFor(
                    m => m.EmailAddress,
                    containerHtmlAttributes: new { @class = "form-group-compound" },
                    controlHtmlAttributes: new { @class = "form-control-3-4" })

                <div class="form-group">
                    <a id="password"></a>
                    @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-3-4" })
                    @Html.ValidationMessageFor(m => m.Password, null)

                    <a class="form-hint" href='@Url.Action("ForgottenPassword", "Register")'>Forgotten password?</a>
                </div>

                <div class="form-group">
                    <button class="button" id="sign-in-button">Sign in</button>
                </div>
            </fieldset>
        }
    </div>
    <div class="grid grid-1-2">
        <h2 class="heading-large">Create an account</h2>
        <p class="text">
            If you create an account you can save and track your applications and manage your account settings.
        </p>

        @Html.ActionLink("Create an account", controllerName: "Register", actionName: "Index")
    </div>
</div>
