@model SFA.Apprenticeships.Web.Candidate.ViewModels.Applications.ApplicationViewModel

@{
    ViewBag.Title = "SFA Apprenticeships - Apply for Vacancy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="heading-xlarge">Apply for vacancy</h1>
<section class="section-border">
    <div class="text">
        <div class="hgroup-medium">
            <h3 class="heading-medium">@Model.VacancyDetail.Title</h3>
            <span class="subtitle">@Model.VacancyDetail.EmployerName</span>
        </div>
        <p>@Model.VacancyDetail.Description</p>
        <p>
            <a href="@Url.Action("Details", "VacancySearch", new { @id = Model.VacancyDetail.Id })">Back to vacancy</a>
        </p>
    </div>
</section>

@using (Html.BeginForm("Apply", "Application", new { id = Model.VacancyDetail.Id, mockProfileId = Model.Candidate.Id }, FormMethod.Post))
{
    @Html.ValidationSummary(false)
    
    @Html.DisplayFor(m => m.Candidate)
    @Html.EditorFor(m => m.Candidate.Qualifications)
    @Html.EditorFor(m => m.Candidate.AboutYou)
    @Html.EditorFor(m => m.Candidate.EmployerQuestionAnswers)

    <fieldset>
        <legend class="heading-large">Before you apply</legend>
        <p>Check you've completed the form properly</p>
        <div class="form-group">
            <button class="button">Apply</button>
            <p>
                <a href="javascript:history.back();" class="button-link">Back</a>
            </p>
        </div>
    </fieldset>
}

