@model SFA.Apprenticeships.Web.Candidate.ViewModels.Applications.ApplicationViewModel

@{
    ViewBag.Title = "Apprenticeships - Application form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="heading-xlarge">Application form</h1>
<section class="section-border">
    <div class="text">
        <div class="hgroup-medium">
            <h3 class="heading-medium" id="vacancy-title">@Model.VacancyDetail.Title</h3>
            <span class="subtitle" id="vacancy-employer">@Model.VacancyDetail.EmployerName</span>
        </div>
        <p id="vacancy-summary">@Model.VacancyDetail.Description</p>
        <p>
            <a href="@Url.Action("Details", "VacancySearch", new { id = Model.VacancyId })">View apprenticeship</a>
        </p>
    </div>
</section>

@using (Html.BeginForm("Apply", "Application", new {id = Model.VacancyId}, FormMethod.Post))
{
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    @Html.DisplayFor(m => m.Candidate)
    @Html.EditorFor(m => m.Candidate.Education)
    @Html.HiddenFor(m => m.VacancyId)

    <div data-bind="visible: selectedSection() === 'applyQualifications', stopBinding:true">

        <fieldset class="fieldset-with-border" id="applyQualifications">
            <legend class="heading-large">Qualifications</legend>
            <p class="form-label">Do you have any qualifications?</p>
            <p class="form-hint text">
                If you don't know your results yet, enter your predicted grades. These are grades your teacher expects you to get.
            </p>
            <div class="form-group form-group-compound inline clearfix">
                <label data-target="qualifications-panel" for="qualifications-yes" class="block-label" data-bind="css: {selected:showQualifications() }">
                    @Html.RadioButtonFor(m => m.Candidate.HasQualifications, true, true, new { id = "qualifications-yes", data_bind = "attr:{checked: hasQualifications() }" })
                    Yes

                </label>
                <label for="qualifications-no" class="block-label" data-bind="css: {selected: !showQualifications() }">
                    @Html.RadioButtonFor(m => m.Candidate.HasQualifications, false, false, new { id = "qualifications-no", data_bind = "attr:{checked: hasNoQualifications() }" })
                   No
                </label>
            </div>
            <div id="qualifications-panel" class="toggle-content" data-bind="style: {display:showQualifications() ? 'block' :'none' }">
                <div class="clearfix">
                    <div class="inline-fixed">
                        <div class="form-group" data-bind="parentvalElement:selectedQualification">
                            <label for="qual-type" class="form-label">Type of qualification</label>
                            <select id="qual-type" data-bind='options: qualificationTypes, optionsCaption: "Select from list", optionsText: "qualificationTypeName", optionsValue: "qualificationTypeName",value: selectedQualification'></select>

                        </div>
                        <div class="form-group" data-bind="parentvalElement:year">
                            <label for="subject-year" class="form-label">Year</label>
                            <input maxlength="4" type="text" class="form-control form-control-small" pattern="[0-9]*"
                                   id="subject-year" data-bind='value: year'>

                        </div>
                    </div>
                    <div class="form-group" data-bind="visible: showOtherQualification,parentvalElement:otherQualification">
                        <label for="other-qual" class="form-label">Name of other qualification</label>
                        <input type="text" class="form-control" id="other-qual" data-bind='value: otherQualification' maxlength="100">

                    </div>
                    <div class="form-group" data-bind="parentvalElement:subject">
                        <label for="subject-name" class="form-label">Subject</label>
                        <input type="text" class="form-control" id="subject-name" data-bind='value: subject' maxlength="50">

                    </div>
                    <div class="inline-fixed">
                        <div class="form-group" data-bind="parentvalElement:grade">
                            <label for="subject-grade" class="form-label">Grade</label>
                            <input type="text" class="form-control form-control-medium" id="subject-grade" data-bind='value: grade' maxlength="15">

                        </div>
                        <div class="form-group">
                            <input id="qual-predicted" type="checkbox" data-bind="checked: predicted">
                            <label for="qual-predicted">Predicted?</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="button" id="saveQualification" data-bind="click: addQualification">Add qualification</button>
                    </div>
                    <div class="form-group" data-bind="visible: displayErrors">
                        <p class="field-validation-error">TODO: Please complete all fields displayed!</p>
                    </div>
                </div>
                <div data-bind="foreach: qualifications">
                    <div data-bind="visible: groupItems().length > 0 ">
                        <div class="hgroup-small">
                            <h3 class="heading-small" data-bind="text: groupKey"></h3>
                        </div>
                        <table class="grid-3-4">
                            <colgroup>
                                <col class="t40">
                                <col class="t25">
                                <col class="t15">
                                <col class="t10">
                                <col class="t10">
                                <col>
                            </colgroup>

                            <thead>
                                <tr>
                                    <th>
                                        <span class="heading-span">Subject</span>
                                    </th>
                                    <th>
                                        <span class="heading-span">Grade</span>
                                    </th>
                                    <th>
                                        <span class="heading-span">Year</span>
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: groupItems">
                                <tr>
                                    <td>
                                        <input class="form-control qual-input-edit" type="text" data-bind="value: qualificationSubject, attr:{name:'Candidate.Qualifications[' + itemIndex() +'].Subject', readonly:readOnly() }" maxlength="50" />
                                    </td>
                                    <td>
                                        <input class="form-control qual-input-edit" type="text" data-bind="value: qualificationGrade, attr:{name:'Candidate.Qualifications[' + itemIndex() +'].Grade',readonly:readOnly() }" maxlength="15" />
                                    </td>
                                    <td>
                                        <input type="hidden" data-bind="value: qualificationType, attr:{name:'Candidate.Qualifications[' + itemIndex() +'].QualificationType'}" />
                                        <input type="hidden" data-bind="value: qualificationPredicted, attr:{name:'Candidate.Qualifications[' + itemIndex() +'].IsPredicted'}" />
                                        <input maxlength="4" pattern="[0-9]*" class="form-control qual-input-edit" type="text" data-bind="value: qualificationYear, attr:{name:'Candidate.Qualifications[' + itemIndex() +'].Year',readonly:readOnly() }">
                                    </td>
                                    <td class="ta-center">
                                        <span data-bind='if: showEditButton, click: $root.editQualification'><span class="fake-link cell-span">Edit</span></span>
                                        <span data-bind='ifnot: showEditButton,click: $root.saveQualificationItem'><span class="fake-link cell-span">Save</span></span>
                                    </td>
                                    <td class="ta-center">
                                        <i class="cell-span"><i class="ir icon-remove" data-bind='click: $root.removeQualification'>Remove</i></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                    
                </div>
            </div>

        </fieldset>

    </div>

    <div data-bind="visible: selectedSection() === 'applyWorkExperience', stopBinding: true">
        
        <fieldset id="applyWorkExperience" class="fieldset-with-border">
            <legend class="heading-large">Work experience</legend>
            <p class="hide-nojs form-label text">Do you have any work experience?</p>
            <p class="form-hint text">
                Use skills you've gained at work (whether paid or unpaid) that relate to the apprenticeship
                you’re applying for.
            </p>
            <div class="hide-nojs">
                <div class="form-group inline clearfix">
                    <label data-target="workexperience-panel" for="workexp-yes" class="block-label" data-bind="css: {selected: showWorkExperience()}">
                        @Html.RadioButtonFor(m => m.Candidate.HasWorkExperience, true, true, new {id="workexp-yes", data_bind = "attr:{checked: hasWorkExperience() }" })
                        Yes
                    </label>
                    <label for="workexp-no" class="block-label" data-bind="css: {selected: !showWorkExperience()}">
                        @Html.RadioButtonFor(m => m.Candidate.HasWorkExperience, false, false, new { id="workexp-no", data_bind = "attr:{checked: hasNoWorkExperience() }" })
                        No
                    </label>
                </div>
                <div id="workexperience-panel" class="toggle-content" data-bind="style: {display: workExperienceStatus() }">
                    <div class="clearfix">
                        <div class="form-group form-group-compound" data-bind="parentvalElement: employer">
                            <label for="work-employer" class="form-label">Employer</label>
                            <input type="text" class="form-control" id="work-employer" data-bind="value: employer" maxlength="50">
                        </div>
                        <div class="form-group form-group" data-bind="parentvalElement: jobTitle">
                            <label for="work-title" class="form-label">Job title</label>
                            <input type="text" class="form-control" id="work-title" data-bind="value: jobTitle" maxlength="50">
                        </div>
                        <div class="form-group form-group-compound" data-bind="parentvalElement: mainDuties">
                            <label for="work-role" class="form-label">Main duties</label>
                            <textarea rows="3" class="form-control" id="work-role" data-val-length-max="200" data-bind="value: mainDuties" maxlength="200"></textarea>
                            <span class="form-hint maxchar-count">200</span>
                        </div>
                        <div class="inline-fixed">
                            <div class="form-group form-group-compound">
                                <label for="work-from" class="form-label">From</label>
                                <div class="form-group form-group-compound">
                                    <span class="form-hint">Month</span>

                                    <select id="work-from" data-bind='options: months, optionsText: "monthName", optionsValue: "monthNumber",value: fromMonth'></select>

                                </div>
                                <div class="form-group form-group-compound" data-bind="parentvalElement: fromYear">
                                    <label for="work-from-year" class="form-hint">Year</label>
                                    <input type="tel" class="form-control form-control-small" pattern="[0-9]*" maxlength="4"
                                           id="work-from-year" data-bind="value: fromYear">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="work-to" class="form-label">To</label>
                                <div class="form-group form-group-compound">
                                    <span class="form-hint">Month</span>

                                    <select id="work-to" data-bind='options: months, optionsText: "monthName", optionsValue: "monthNumber",value: toMonth,attr:{disabled:toDateReadonly() }'></select>

                                </div>
                                <div class="form-group form-group-compound" data-bind="parentvalElement: toYear">
                                    <label for="work-to-year" class="form-hint">Year</label>
                                    <input type="tel" class="form-control form-control-small" pattern="[0-9]*" maxlength="4"
                                           id="work-to-year" data-bind="value: toYear, attr:{disabled:toDateReadonly() }" />
                                </div>
                                <div class="form-group form-group-compound">
                                    <input id="work-current" type="checkbox" data-bind="checked: isCurrentEmployment"/>
                                    <label for="work-current">Current</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="button" id="addWorkBtn" data-bind="click: addWorkExperience">Add work</button>
                        </div>
                    </div>

                    <div data-bind="foreach: workExperiences">
                        <div class="grid-3-4">
                            <div class="grid-wrapper work-history-item">
                                <div class="work-controls">
                                    <div class="work-edit ta-center">

                                        <span class="fake-link cell-span" data-bind='if: showEditButton, click: $parent.editWorkExperience'>Edit</span>
                                        <span class="fake-link cell-span" data-bind='ifnot: showEditButton,click: $parent.saveWorkExperience'>Save</span>
                                    </div>
                                    <div class="work-delete ta-center">
                                        <span class="cell-span">
                                            <i class="ir icon-remove" data-bind='click: $parent.removeWorkExperience'>Remove</i>
                                        </span>
                                    </div>
                                </div>
                                <div class="grid grid-1-2">
                                    <table class="table-no-btm-border table-compound">
                                        <colgroup>
                                            <col class="t100">
                                            <col>
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>
                                                    <span class="heading-span">Work experience</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-group form-group-compound inline-float width-all-49" data-bind="visible: !showEditButton()">
                                                       <label for="" class="visuallyhidden">Employer</label>
                                                        <input type="text" class="form-control" data-bind="value: itemEmployer, attr:{name:'Candidate.WorkExperience[' + $index() +'].Employer'}" maxlength="50" />
                                                    </div> 
                                                    <span class="cell-span" data-bind="visible: showEditButton, text: itemEmployer"></span>
                                                    <span class="cell-span work-hyphen" data-bind="visible: showEditButton">-</span>
                                                    <div class="form-group form-group-compound inline-float width-all-49 no-right-margin" data-bind="visible: !showEditButton()">
                                                        <label for="" class="visuallyhidden">Job title</label>
                                                           
                                                        <input type="text" class="form-control" data-bind="value: itemJobTitle, attr:{name:'Candidate.WorkExperience[' + $index() +'].JobTitle'}" maxlength="50" />
                                                    </div> 
                                                    <span class="cell-span" data-bind="visible: showEditButton, text: itemJobTitle"></span>
                                                    <div></div>
                                                    <textarea class="form-control" rows="3" data-bind="value: itemMainDuties, visible: !showEditButton(),attr:{name:'Candidate.WorkExperience[' + $index() +'].Description'}" maxlength="200"></textarea>
                                                    <span class="cell-span" data-bind="visible: showEditButton, text: itemMainDuties"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="grid grid-1-2">
                                    <table class="table-no-btm-border table-compound">
                                        <colgroup>
                                            <col class="t30">
                                            <col class="t30">
                                            <col class="t25">
                                            <col class="t15">
                                            <col>
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>
                                                    <span class="heading-span">From</span>
                                                </th>
                                                <th>
                                                    <span class="heading-span">To</span>
                                                </th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-group form-group-compound" data-bind="visible: !showEditButton()">
                                                        <select data-bind='options: $parent.months, optionsText: "monthName", optionsValue: "monthNumber",value: itemFromMonth, attr:{name:"Candidate.WorkExperience[" + $index() +"].FromMonth" } '></select>
                                                        
                                                    </div>
                                                    <div class="form-group form-group-compound" data-bind="visible: !showEditButton()">
                                                        <input type="text" class="form-control" data-bind="value: itemFromYear, attr:{name:'Candidate.WorkExperience[' + $index() +'].FromYear'}" pattern="[0-9]*" maxlength="4">
                                                       
                                                    </div>
                                                                                                      
                                                    <span class="cell-span" data-bind="visible: showEditButton, text: getMonthLabel(itemFromMonth())"></span>
                                                    <span class="cell-span" data-bind="visible: showEditButton, text: itemFromYear"></span>
                                                </td>
                                                <td>
                                                    <div class="form-group form-group-compound" data-bind="visible: !showEditButton()">
                                                        <select data-bind=' options: $parent.months, optionsText: "monthName", optionsValue: "monthNumber",value: itemToMonth, attr:{disabled:toItemDateReadonly(),name:"Candidate.WorkExperience[" + $index() +"].ToMonth"}'></select>
                                                        
                                                    </div>
                                                    <div class="form-group form-group-compound" data-bind="visible: !showEditButton()">
                                                        <input type="text" class="form-control" data-bind="value: itemToYear, attr:{disabled:toItemDateReadonly(), name:'Candidate.WorkExperience[' + $index() +'].ToYear'}" pattern="[0-9]*" maxlength="4">
                                                       
                                                    </div>
                                                    <div class="form-group form-group-compound" data-bind="visible: !showEditButton()">
                                                        <label>
                                                            <input type="checkbox" data-bind="checked: itemIsCurrentEmployment" /> Current
                                                        </label>
                                                    </div>                                                 
                                                    <span class="cell-span" data-bind="visible: showEditButton, text: itemToYear() <= 1 || itemToYear() === null ? 'Current' : getMonthLabel(itemToMonth())"></span>
                                                    <span class="cell-span" data-bind="visible: showEditButton, text: itemToYear() <= 1 || itemToYear() === null ? '' : itemToYear"></span>
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </fieldset>

    </div>
   

    @Html.EditorFor(m => m.Candidate.AboutYou)
    @Html.EditorFor(m => m.Candidate.EmployerQuestionAnswers)
    
    <div class="form-group">
        @*The buttons below need the values so the controller knows what action to perform if restyling*@
        <button id="apply-button" type="submit" name="ApplicationAction" class="button" value="Preview">Preview application</button>
        <p id="saveApplication">
            <button id="save-button" type="submit" name="ApplicationAction" class="button-link cancel" value="Save">Save draft</button>
        </p>
        @if (Model.DateUpdated.HasValue)
        {
            <p id="applicationSaved">Saved at @Model.DateUpdated.Value.ToString("h:mm:ss tt") on @Model.DateUpdated.Value.ToString("d/M/yyyy") to <a href="@Url.Action("Index", "Application")" title="My Applications">my applications</a></p>
        }
    </div>    
    
}

@section scripts{

    <script id="errorMessage" type="text/html">
        <span data-bind="visible: !field.isValid(), attr:{class:!field.isValid()? 'field-validation-error' : 'field-validation-valid'}">
            <span data-bind="validationMessage: field"></span>
        </span>
    </script>   

    <script type="text/javascript">

        var qualificationData = null;
        var workExperienceData = null;

        $(function() {

            qualificationData = @Html.Raw(Json.Encode(Model.Candidate.Qualifications));
            workExperienceData = @Html.Raw(Json.Encode(Model.Candidate.WorkExperience));

            ko.validation.rules.pattern.message = 'Invalid.';
            ko.validation.configure({
                decorateElement: true,
                registerExtenders: true,
                messagesOnModified: true,
                insertMessages: true,
                parseInputAttributes: true,
                errorClass: 'input-validation-error',
                errorElementClass: 'input-validation-error',
                messageTemplate: 'errorMessage'
            });
        });

        function getQualificationData() {
            return qualificationData;
        }

        function getWorkExperienceData() {
            return workExperienceData;
        }

        function getMonthLabel(index) {

            var month = "";

            if (index === 0) {

            } else {
                var mths = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
                month = mths[index - 1];
            }

            return month;
        }

    </script>

    @*<script src="~/Content/_assets/js/vendor/knockout-3.1.0.js"></script>
        <script src="~/Content/_assets/js/vendor/knockout.validation.js"></script>*@
    <script src="~/Content/_assets/js/nas/applicationform.js"></script>
}
