@model SFA.Apprenticeships.Web.Candidate.ViewModels.Applications.ApplicationViewModel

@{
    ViewBag.Title = "SFA Apprenticeships - Preview Vacancy Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="heading-xlarge">Previewing vacancy</h1>

@if (TempData["SubmissionFailed"] != null)
{
    <div class="panel-success">
        <span id="PreviewFailedText" class="text"><i class="fa fa-check"></i> TODO: Oops! Something went wrong during the submission, try again</span>
    </div>
}

<section class="section-border">
    <div class="text">
        <div class="hgroup-medium">
            <h3 class="heading-medium">@Model.VacancyDetail.Title</h3>
            <span class="subtitle">@Model.VacancyDetail.EmployerName</span>
        </div>
        <p>@Model.VacancyDetail.Description</p>
    </div>
</section>

@Html.DisplayFor(m => m.Candidate)
@Html.DisplayFor(m => m.Candidate.Education)

<fieldset id="applyQualifications" class="fieldset-with-border">
    <legend class="heading-large">
        Qualifications
        @if (ViewBag.VacancyId != null)
        {
            <a class="icon-with-text" href="@Url.Action("Apply", "Application", new {id = ViewBag.VacancyId})#applyQualifications">
                <i class="the-icon fa fa-pencil"></i>
                <span class="the-text">Amend details</span>
            </a>
        }
    </legend>
   
    @foreach (var group in Model.Candidate.Qualifications.GroupBy(item => item.QualificationType))
    {
        <div class="hgroup-small">
            <h3 class="heading-small">@Html.Encode(group.Key)</h3>
        </div>
        <table class="grid-3-4">
            <colgroup>
                <col class="t40">
                <col class="t25">
                <col class="t15">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>
                        <span class="heading-span">Subject</span>
                    </th>
                    <th>
                        <span class="heading-span">Grade</span>
                    </th>
                    <th>
                        <span class="heading-span">Year</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in group)
                {
                    <tr>
                        <td>
                            <input class="form-control qual-input-edit form-prepopped" type="text" value="@item.Subject" readonly>
                        </td>
                        <td>
                            <input class="form-control qual-input-edit form-prepopped" type="text" value="@item.Grade" readonly>
                        </td>
                        <td>
                            <input class="form-control qual-input-edit form-prepopped" type="text" value="@item.Year" readonly>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</fieldset>

<fieldset class="fieldset-with-border">
    <legend class="heading-large">
        Work experience
        @if (ViewBag.VacancyId != null)
        {
            <a class="icon-with-text" href="@Url.Action("Apply", "Application", new {id = ViewBag.VacancyId})#applyWorkExperience">
                <i class="the-icon fa fa-pencil"></i>
                <span class="the-text">Amend details</span>
            </a>
        }
    </legend>
    @foreach (var experience in Model.Candidate.WorkExperience)
    {
        <div class="grid-3-4">
            <div class="grid-wrapper work-history-item">

                <div class="grid grid-1-2">
                    <table class="table-no-btm-border table-compound">
                        <colgroup>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <span class="heading-span">Work experience</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="cell-span">@experience.Employer</span>
                                    <span class="form-prepopped cell-span work-hyphen">-</span>
                                    <span class="form-prepopped cell-span">@experience.JobTitle</span>
                                    <div></div>
                                    <span class="form-prepopped cell-span">@experience.Description</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="grid grid-1-2">
                    <table class="table-no-btm-border table-compound">
                        <colgroup>
                            <col class="t30">
                            <col class="t30">
                            <col class="t25">
                            <col class="t15">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <span class="heading-span">From</span>
                                </th>
                                <th>
                                    <span class="heading-span">To</span>
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="form-prepopped cell-span">@experience.FromYear</span>
                                </td>
                                <td>
                                    <span class="form-prepopped cell-span">@experience.ToYear</span>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

</fieldset>



@Html.DisplayFor(m => m.Candidate.AboutYou)
@Html.DisplayFor(m => m.Candidate.EmployerQuestionAnswers)

<div class="form-group">
    @Html.ActionLink("Submit application", "SubmitApplication", new {@applicationId = Model.ApplicationViewId}, new {@class = "button"})
</div>