@using System.Web.Optimization
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en-GB" class="no-js not-ie8"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if gt IE 8]><!-->@Styles.Render("~/Content/_assets/css/main.css")<!--<![endif]-->
    <!--[if lte IE 8]>@Styles.Render("~/Content/_assets/css/main-ie8.css")<![endif]-->
    <!--[if lte IE 8]>@Styles.Render("~/Content/_assets/css/fonts-ie8.css")<![endif]-->
    <!--[if gte IE 9]><!-->@Styles.Render("~/Content/_assets/css/fonts.css")<!--<![endif]-->
    <link rel="shortcut icon" href="@Url.Content("~/Content/_assets/img/favicon.ico")" type="image/x-icon">
    @Styles.Render("~/Content/_assets/css/font-awesome/css/font-awesome.min.css")
    <script>
        var html = document.documentElement;
        html.className += " js-enabled";

        if (!('open' in document.createElement('details'))) {
            document.documentElement.className += ' no-details';
        }
    </script>
    @Scripts.Render("~/Content/_assets/js/vendor/modernizr-custom.js")
    
</head>
<body>
    <div class="skiplink-container">
        <div>
            <a href="#main" class="skiplink">Skip to main content</a>
        </div>
    </div>
    <header role="banner" class="global-header">
        <div class="global-header__wrapper">
            <div class="global-header__logo">
                <a href="@Url.Content("~/")" title="Go to the GOV.UK homepage" class="govuk-logo">
                    <img src="@Url.Content("~/Content/_assets/img/gov.uk_logotype_crown.png")" alt="Crown">
                    GOV.UK
                </a>
            </div>
            <div class="global-header__nav">
                <h1 class="global-header__title beta">Apprenticeships</h1>
            </div>
        </div>
    </header>
    <div class="content-container">
        <div class="phase-notice gov-border">
            <div class="prototype-warning">
                <strong class="beta__label">Beta</strong> <span>This is a prototype – your <a href="#">feedback</a> will help us to improve it.</span>
            </div>
            @Html.Partial("_LoginPartial")
        </div>
        <main role="main" id="main">
            @RenderBody()
        </main>
    </div>

    <footer class="gov-border" role="contentinfo">
        <div class="footer__wrapper">
            <div class="footer__meta">
                <ul class="footer__nav" role="navigation">
                    <li class="footer__link"><a href="/claim-notes#16" target="_blank">Helpdesk</a></li>
                    <li class="footer__link"><a href="http://www.dwp.gov.uk/privacy-policy/" target="_blank">Privacy &amp; Cookies</a></li>
                    <li class="footer__link">Built by <a href="http://apprenticeships.org.uk" target="_blank">Skills Funding Agency</a></li>
                    <li class="footer__ogl"><a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2" class="ir ogl-logo">OGL</a>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2">Open Government Licence v2.0</a>, except where otherwise stated</li>
                </ul>
                <a class="footer__copyright" href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank">
                    <img src="@Url.Content("~/Content/_assets/img/logos/govuk-crest@2x.png")" width="125" height="102" alt="Crown copyright logo">
                    <p>&copy; Crown copyright</p>
                </a>
            </div>
        </div>
    </footer>

    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/Content/_assets/js/vendor/jquery-1.11.1.min.js")
    @Scripts.Render("~/Content/_assets/js/vendor/knockout-3.1.0.js")
    @Scripts.Render("~/Content/_assets/js/vendor/knockout.validation.js")
    @Scripts.Render("~/Content/_assets/js/scripts.min.js")
    @Scripts.Render("~/Content/_assets/js/vendor/jquery.validate.min.js")
    @Scripts.Render("~/Content/_assets/js/vendor/jquery.validate.unobtrusive.min.js")
    @RenderSection("scripts", required: false)
    <script src="~/Content/_assets/js/nas/validationscripts.js" type="text/javascript"></script>
</body>
</html>
