@using System.Web.Optimization
@using SFA.Apprenticeships.Web.Candidate.Controllers
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-GB" class="no-js not-ie8">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@ViewBag.Title</title>
        <meta name="description" content="We’ve introduced a new way to find and apply for an apprenticeship in England.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="date=no">
        <meta name="format-detection" content="address=no">
        <!--[if gt IE 8]><!-->@Styles.Render("~/Content/_assets/css/main.css?=Sprint19")<!--<![endif]-->
        <!--[if lte IE 8]>@Styles.Render("~/Content/_assets/css/main-ie8.css?=Sprint19")<![endif]-->
        <!--[if lte IE 8]>@Styles.Render("~/Content/_assets/css/fonts-ie8.css")<![endif]-->
        <!--[if gte IE 9]><!-->@Styles.Render("~/Content/_assets/css/fonts.css")<!--<![endif]-->
        <link rel="shortcut icon" href="@Url.Content("~/Content/_assets/img/favicon.ico")" type="image/x-icon">
        @Styles.Render("~/Content/_assets/css/font-awesome/css/font-awesome.min.css")
        <script>
            var html = document.documentElement;
            html.className += " js-enabled";

            if (!('open' in document.createElement('details'))) {
                document.documentElement.className += ' no-details';
            }
        </script>
        @Scripts.Render("~/Content/_assets/js/vendor/modernizr-custom.js")
        @Scripts.Render("~/Content/_assets/js/webtrends/webtrends.load.js")
    </head>
    <body>
        @if (ViewBag.ShowEuCookieDirective == true)
        {
            <div id="global-cookie-message" class="cookie-banner">
                <div class="content-container">
                    <span class="copy-16">GOV.UK uses cookies to make the site simpler. <a href='@Url.RouteUrl(RouteNames.Privacy)'>Find out more about cookies</a></span>
                </div>
            </div>
        }

        <div class="skiplink-container">
            <div>
                <a href="#main" class="skiplink">Skip to main content</a>
            </div>
        </div>
        <header role="banner" class="global-header">
            <div class="global-header__wrapper">
                <div class="global-header__logo">
                    <a href="http://gov.uk" title="Go to the GOV.UK homepage" class="govuk-logo">
                        <img src="@Url.Content("~/Content/_assets/img/gov.uk_logotype_crown.png")" alt="Crown">
                        GOV.UK
                    </a>
                </div>
                <div class="global-header__nav">
                    <h1 class="global-header__title beta"><a href="@Url.Content("~/")">Apprenticeships</a></h1>
                </div>
            </div>
        </header>
        <div class="content-container">
            <div class="phase-notice gov-border">
                <div class="prototype-warning">
                    <strong class="beta__label">Beta</strong> <span>This is a new service – your <a rel="external" href="@(ViewBag.FeedbackUrl)" target="_blank">feedback</a> will help to improve it.</span>
                </div>
                @Html.Partial("_LoginPartial")
            </div>
            <main role="main" id="main">
                @{
                    var controller = ViewContext.Controller as CandidateControllerBase;

                    if (controller != null)
                    {
                        var infoMessage = controller.UserData.Pop(UserMessageConstants.InfoMessage);
                        var successMessage = controller.UserData.Pop(UserMessageConstants.SuccessMessage);
                        var warningMessage = controller.UserData.Pop(UserMessageConstants.WarningMessage);
                        var errorMessage = controller.UserData.Pop(UserMessageConstants.ErrorMessage);

                        if (infoMessage != null)
                        {
                            <div role ="alert" aria-live="assertive" class="panel-info">
                                <p id="InfoMessageText">@infoMessage</p>
                            </div>
                        }
                        if (successMessage != null)
                        {
                            <div role="alert" aria-live="assertive" class="panel-success">
                                <p id="SuccessMessageText"><i class="fa fa-check"></i>@successMessage</p>
                            </div>
                        }
                        if (warningMessage != null)
                        {
                            <div role="alert" aria-live="assertive" class="panel-warning">
                                <p id="WarningMessageText">@warningMessage</p>
                            </div>
                        }
                        if (errorMessage != null)
                        {
                            <div role="alert" aria-live="assertive" class="panel-danger">
                                <p id="ErrorMessageText">@errorMessage</p>
                            </div>
                        }
                    }
}
                @RenderBody()
            </main>
        </div>

        <footer class="gov-border" role="contentinfo">
            <div class="footer__wrapper">
                <div class="footer__meta">
                    <ul class="footer__nav">
                        <li class="footer__link"><a href='@Url.RouteUrl(RouteNames.Helpdesk)'>Helpdesk</a></li>
                        <li class="footer__link"><a href='@Url.RouteUrl(RouteNames.Privacy)'>Privacy &amp; Cookies</a></li>
                        <li class="footer__link"><a href='@Url.RouteUrl(RouteNames.Terms)'>Terms &amp; Conditions</a></li>
                        <li class="footer__link">Built by <a href="http://gov.uk/sfa" target="_blank">Skills Funding Agency</a></li>
                        <li class="footer__ogl"><a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2" class="ir ogl-logo">OGL</a>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2">Open Government Licence v2.0</a>, except where otherwise stated</li>
                    </ul>
                    <a class="footer__copyright" href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank">
                        <img src="@Url.Content("~/Content/_assets/img/govuk-crest@2x.png")" width="125" height="102" alt="Crown copyright logo">
                        <p>&copy; Crown copyright</p>
                    </a>
                </div>
            </div>
        </footer>

        <!-- Placed at the end of the document so the pages load faster -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/nascript")
        @Scripts.Render("~/bundles/vendor")
        @Scripts.Render("~/bundles/nas")

        @RenderSection("scripts", required: false)
    </body>
</html>
