@using SFA.Apprenticeships.Web.Candidate.Controllers

@if (Request.IsAuthenticated)
{
    var controller = ViewContext.Controller as CandidateControllerBase;
    var fullName = (controller != null && controller.UserContext != null) ? controller.UserContext.FullName : string.Empty;

    <div class="account-info" id="bannerSignedIn">
        <span class="your-name" id="bannerUserName">@fullName</span>
        <div>
            <a href='@Url.RouteUrl(RouteNames.MyApplications)'>My applications</a>
            <a href='@Url.RouteUrl(RouteNames.Settings)'>Settings</a>
            <a href='@Url.Action("SignOut", "Login")' id="btnSignOut"><i class="fa fa-sign-out"></i>Sign out</a>
        </div>
    </div>
}
else
{
    <div class="account-info" id="bannerSignedOut">
        <a href="@Url.Action("Index", "Login")" id="loginLink" title="Sign in"><i class="fa fa-sign-in"></i>Sign in</a>
    </div>
}
