@model  SFA.Apprenticeships.Web.Candidate.ViewModels.Applications.ApprenticeshipApplicationViewModel


<noscript>

    <fieldset class="fieldset-with-border" id="applyWorkExperience">
        <legend class="heading-large">Work experience</legend>       

        <div class="clearfix">
            <div>
                @for (var i = 0; i < Model.Candidate.WorkExperience.Count() + Model.DefaultWorkExperienceRows; i++)
                {
                    if (i < Model.Candidate.WorkExperience.Count())
                    {
                        <div id="work-history-item" class="grid-wrapper work-history-item">
                            <div class="grid grid-1-2">
                                <table class="table-no-btm-border table-compound">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="heading-span">Work experience</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-group form-group-compound inline-float width-all-49">
                                                    <span class="cell-span">Employer</span>

                                                    @Html.TextBoxFor(m => Model.Candidate.WorkExperience.ToList()[i].Employer, new { @id = "candidate_workexperience_" + i + "__employer", Name = "Candidate.WorkExperience[" + i + "].Employer", @class = "form-control", @maxlength = 50 })

                                                    @Html.ValidationMessage("Candidate.WorkExperience[" + i + "].Employer")
                                                </div>

                                                <div class="form-group form-group-compound inline-float width-all-49 no-right-margin">
                                                    <span class="cell-span">Job Title</span>
                                                    @Html.TextBoxFor(m => Model.Candidate.WorkExperience.ToList()[i].JobTitle, new { @id = "candidate_workexperience_" + i + "__jobtitle", Name = "Candidate.WorkExperience[" + i + "].JobTitle", @class = "form-control", @maxlength = 50 })

                                                    @Html.ValidationMessage("Candidate.WorkExperience[" + i + "].JobTitle")
                                                </div>

                                                <div class="clearfix"></div>
                                                <span class="cell-span">Main Duties</span>
                                                @Html.TextAreaFor(m => Model.Candidate.WorkExperience.ToList()[i].Description, new { @id = "candidate_workexperience_" + i + "__description", Name = "Candidate.WorkExperience[" + i + "].Description", @class = "form-control", @rows = 3 })

                                                @Html.ValidationMessage("Candidate.WorkExperience[" + i + "].Description")</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="grid grid-1-2">
                                <table class="table-no-btm-border table-compound">
                                    <colgroup>
                                        <col class="t30">
                                        <col class="t30">
                                        <col class="t25">
                                        <col class="t15">
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="heading-span">Started</span>
                                            </th>
                                            <th>
                                                <span class="heading-span">Finished</span>
                                            </th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="cell-span">Started</span>
                                                <div class="form-group form-group-compound">
                                                    @Html.DropDownListFor(m => Model.Candidate.WorkExperience.ToList()[i].FromMonth, new SelectList(Model.Months, "Value", "Text", Model.Candidate.WorkExperience.ToList()[i].FromMonth), new { @id = "candidate_workexperience_" + i + "__frommonth", Name = "Candidate.WorkExperience[" + i + "].FromMonth" })

                                                </div>
                                                <div class="form-group form-group-compound">
                                                    @Html.TextBoxFor(m => Model.Candidate.WorkExperience.ToList()[i].FromYear, new {@id = "candidate_workexperience_" + i + "__fromyear", Name = "Candidate.WorkExperience[" + i + "].FromYear", @class = "form-control", @maxlength = 4})
                                                
                                                    @Html.ValidationMessage("Candidate.WorkExperience[" + i + "].FromYear")
                                                </div>
                                            </td>
                                            <td>
                                                <span class="cell-span">Finished</span>
                                                <div class="form-group form-group-compound">
                                                    @Html.DropDownListFor(m => Model.Candidate.WorkExperience.ToList()[i].ToMonth, new SelectList(Model.Months, "Value", "Text", Model.Candidate.WorkExperience.ToList()[i].ToMonth), new { @id = "candidate_workexperience_" + i + "__tomonth", Name = "Candidate.WorkExperience[" + i + "].ToMonth" })

                                                </div>
                                                <div class="form-group form-group-compound">
                                                    @Html.TextBoxFor(m => Model.Candidate.WorkExperience.ToList()[i].ToYear, new { @id = "candidate_workexperience_" + i + "__toyear", Name = "Candidate.WorkExperience[" + i + "].ToYear", @class = "form-control", @maxlength = 4 })

                                                    @Html.ValidationMessage("Candidate.WorkExperience[" + i + "].ToYear")
                                                </div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="work-history-item" class="grid-wrapper work-history-item">
                            <div class="grid grid-1-2">
                                <table class="table-no-btm-border table-compound">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="heading-span">Work experience</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-group form-group-compound inline-float width-all-49">
                                                    <span class="cell-span">Employer</span>

                                                    @Html.TextBox("Candidate.WorkExperience[" + i + "].Employer", "", new {@id = "candidate_workexperience_" + i + "__employer", Name = "Candidate.WorkExperience[" + i + "].Employer", @class = "form-control", @maxlength = 50})
                                                    @Html.ValidationMessage("Candidate.WorkExperience[" + i + "].Employer")
                                                </div>

                                                <div class="form-group form-group-compound inline-float width-all-49 no-right-margin">
                                                    <span class="cell-span">Job Title</span>
                                                    @Html.TextBox("Candidate.WorkExperience[" + i + "].JobTitle", "", new {@id = "candidate_workexperience_" + i + "__jobtitle", Name = "Candidate.WorkExperience[" + i + "].JobTitle", @class = "form-control", @maxlength = 50})
                                                    @Html.ValidationMessage("Candidate.WorkExperience[" + i + "].JobTitle")
                                                </div>

                                                <div></div>
                                                <span class="cell-span">Main Duties</span>
                                                @Html.TextArea("Candidate.WorkExperience[" + i + "].Description", "", new {@id = "candidate_workexperience_" + i + "__description", Name = "Candidate.WorkExperience[" + i + "].Description", @class = "form-control", @rows = 3})
                                                @Html.ValidationMessage("Candidate.WorkExperience[" + i + "].Description")
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="grid grid-1-2">
                                <table class="table-no-btm-border table-compound">
                                    <colgroup>
                                        <col class="t30">
                                        <col class="t30">
                                        <col class="t25">
                                        <col class="t15">
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="heading-span">Started</span>
                                            </th>
                                            <th>
                                                <span class="heading-span">Finished</span>
                                            </th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="cell-span">Started</span>
                                                <div class="form-group form-group-compound">
                                                    @Html.DropDownList("Candidate.WorkExperience[" + i + "].FromMonth", new SelectList(Model.Months, "Value","Text",1), new { @id = "candidate_workexperience_" + i + "__frommonth", Name = "Candidate.WorkExperience[" + i + "].FromMonth" })

                                                </div>
                                                <div class="form-group form-group-compound">
                                                    @Html.TextBox("Candidate.WorkExperience[" + i + "].FromYear", "", new {@id = "candidate_workexperience_" + i + "__fromyear", Name = "Candidate.WorkExperience[" + i + "].FromYear", @class = "form-control", @maxlength = 4})
                                                    @Html.ValidationMessage("Candidate.WorkExperience[" + i + "].FromYear")
                                                </div>
                                            </td>
                                            <td>
                                                <span class="cell-span">Finished</span>
                                                <div class="form-group form-group-compound">
                                                    @Html.DropDownList("Candidate.WorkExperience[" + i + "].ToMonth", new SelectList(Model.Months, "Value", "Text", 1), new { @id = "candidate_workexperience_" + i + "__tomonth", Name = "Candidate.WorkExperience[" + i + "].ToMonth" })

                                                </div>
                                                <div class="form-group form-group-compound">
                                                    @Html.TextBox("Candidate.WorkExperience[" + i + "].ToYear", "", new {@id = "candidate_workexperience_" + i + "__toyear", Name = "Candidate.WorkExperience[" + i + "].ToYear", @class = "form-control", @maxlength = 4})
                                                    @Html.ValidationMessage("Candidate.WorkExperience[" + i + "].ToYear")
                                                </div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                }                              

                <div class="form-group">

                    <button id="add-workexperience-rows-button" class="button" type="submit" name="ApplicationAction:AddEmptyWorkExperienceRows">Add 1 more work experience</button>

                </div>
            </div>
        </div>

    </fieldset>
</noscript>