@model SFA.Apprenticeships.Web.Candidate.ViewModels.Applications.ApprenticeshipApplicationViewModel

@{
    ViewBag.Title = "Apprenticeships - Preview your application";
    Layout = "~/Views/Shared/_ApprenticeshipLayout.cshtml";
}

@if (Model.DateUpdated.HasValue)
{
    <div class="panel-info">
        <p id="applicationSavedTopMessage">Last saved at @Html.DisplayFor(m => m.DateUpdated.Value, "DateTimeSaved") to <a href="@Url.RouteUrl(CandidateRouteNames.MyApplications)" title="My Applications">my applications</a></p>
    </div>
}

<h1 class="heading-xlarge">Preview your application</h1>

@Html.DisplayFor(m => m.Candidate)
@Html.DisplayFor(m => m.Candidate.Education)

<section id="applyQualifications" class="section-border">
    <h2 class="heading-large">
        Qualifications
        @if (ViewBag.VacancyId != null)
        {
            <a class="icon-with-text" href="@Url.RouteUrl(CandidateRouteNames.ApprenticeshipApply, new {id = ViewBag.VacancyId})#applyQualifications">
                <i class="the-icon fa fa-pencil"></i><span class="the-text">Change details</span>
            </a>
        }
    </h2>
    
    @if (!Model.Candidate.Qualifications.Any())
    {
        <p id="no-qualifications">I don't have any qualifications</p>
    }
   
    @foreach (var group in Model.Candidate.Qualifications.GroupBy(item => item.QualificationType))
    {
        <div class="hgroup-small">
            <h3 class="heading-small">@Html.Encode(group.Key)</h3>
        </div>
        <table class="grid-3-4">
            <colgroup>
                <col class="t40">
                <col class="t25">
                <col class="t15">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>
                        <span class="heading-span">Subject</span>
                    </th>
                    <th>
                        <span class="heading-span">Grade</span>
                    </th>
                    <th>
                        <span class="heading-span">Year</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (QualificationsViewModel item in group)
                {
                    <tr>
                        <td>
                            <input class="form-control qual-input-edit form-prepopped" type="text" value="@item.Subject" readonly>
                        </td>
                        <td>                                                        
                            <input class="form-control qual-input-edit form-prepopped" type="text" value="@Html.GetDisplayGrade(item.Grade, item.IsPredicted)" readonly>                          
                        </td>
                        <td>
                            <input class="form-control qual-input-edit form-prepopped" type="text" value="@item.Year" readonly>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</section>

<section class="section-border">
    <h2 class="heading-large">
        Work experience
        @if (ViewBag.VacancyId != null)
        {
            <a class="icon-with-text" href="@Url.RouteUrl(CandidateRouteNames.ApprenticeshipApply, new {id = ViewBag.VacancyId})#applyWorkExperience">
                <i class="the-icon fa fa-pencil"></i><span class="the-text">Change details</span>
            </a>
        }
    </h2>
    
    @if (!Model.Candidate.WorkExperience.Any())
    {
        <p id="no-work-experience">I don't have any work experience</p>
    }

    @foreach (WorkExperienceViewModel experience in Model.Candidate.WorkExperience)
    {
        <div class="grid-3-4">
            <div class="grid-wrapper work-history-item">

                <div class="grid grid-1-2">
                    <table class="table-no-btm-border table-compound">
                        <colgroup>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <span class="heading-span">Work experience</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="form-prepopped cell-span">@experience.Employer</span>
                                    <span class="form-prepopped cell-span work-hyphen">-</span>
                                    <span class="form-prepopped cell-span">@experience.JobTitle</span>
                                    <div></div>
                                    <span class="form-prepopped cell-span prewrap">@experience.Description</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="grid grid-1-2">
                    <table class="table-no-btm-border table-compound">
                        <colgroup>
                            <col class="t30">
                            <col class="t30">
                            <col class="t25">
                            <col class="t15">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <span class="heading-span">From</span>
                                </th>
                                <th>
                                    <span class="heading-span">To</span>
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="form-prepopped cell-span">@Html.GetMonthYearLabel(experience.FromMonth, experience.FromYear)  </span>
                                </td>
                                <td>
                                    <span class="form-prepopped cell-span">@Html.GetMonthYearLabel(experience.ToMonth, experience.ToYear)</span>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

</section>



@Html.DisplayFor(m => m.Candidate.AboutYou)
@Html.DisplayFor(m => m.Candidate.EmployerQuestionAnswers)

<h3 class="heading-large">Submit your application</h3>
<div class="form-group">
    <p>Before you submit your application make sure you:</p>
    <ul>
        <li>ask someone to check your application for mistakes</li>
        <li>check your answers are relevant to the apprenticeship</li>
        <li>are able to get to the apprenticeship location easily</li>
    </ul>
</div>
<div class="form-group">
    @Html.ActionLink("Submit application", "SubmitApplication", new {id = Model.VacancyId}, new {@class = "button", id = "submit-application"})

    @if (Model.DateUpdated.HasValue)
    {
        <p id="applicationSavedBottomMessage">Last saved at @Html.DisplayFor(m => m.DateUpdated.Value, "DateTimeSaved") to <a href="@Url.RouteUrl(CandidateRouteNames.MyApplications)" title="My Applications">my applications</a></p>
    }
</div>

@section scripts{
    
    <script>
        function getMonthLabel(index) {
            //alert(index);
            var month = "";

            if (index === 0) {

            } else {
                var mths = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
                month = mths[index - 1];
            }

            return month;
        }

        $(function() {
            $('#submit-application').on('click', function() {

                if ($('#submit-application').attr('data-disabled') != undefined) {
                    if (event.preventDefault) {
                        event.preventDefault();
                    }

                    $('#submit-application').attr("disabled", "disabled");
                    return false;

                } else {
                    $('#submit-application').attr("data-disabled", "disabled");
                }
            });
        });


    </script>
}