@using Microsoft.Ajax.Utilities
@model AboutYouViewModel

<section class="section-border">
    <h2 class="heading-large">
        About you
        @if (ViewBag.VacancyId != null)
        {
            <a class="icon-with-text" href='@Url.Action("Apply", "Application", new {id = ViewBag.VacancyId})#applyAboutYou'>
                <i class="the-icon fa fa-pencil"></i><span class="the-text">Amend details</span>
            </a>

        }
    </h2>

    <div class="form-group">
        @Html.SpanFor(m => m.WhatAreYourStrengths, new { @class = "form-label text" })
        <span id="@Html.IdFor(m => m.WhatAreYourStrengths)" class="form-prepopped prewrap">@Html.DisplayFor(m => m.WhatAreYourStrengths)</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.WhatDoYouFeelYouCouldImprove, new { @class = "form-label text" })
        <span id="@Html.IdFor(m => m.WhatDoYouFeelYouCouldImprove)" class="form-prepopped prewrap">@Html.DisplayFor(m => m.WhatDoYouFeelYouCouldImprove)</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.WhatAreYourHobbiesInterests, new { @class = "form-label text" })
        <span id="@Html.IdFor(m => m.WhatAreYourHobbiesInterests)" class="form-prepopped prewrap">@Html.DisplayFor(m => m.WhatAreYourHobbiesInterests)</span>
    </div>

    <div class="form-group">
        <p class="form-label">Is there anything we can do to support your interview?</p>
        @if (Model.RequiresSupportForInterview)
        {
            <span id="@Html.IdFor(m => m.AnythingWeCanDoToSupportYourInterview)" class="form-prepopped prewrap">@Html.DisplayFor(m => m.AnythingWeCanDoToSupportYourInterview)</span>
        }
        else
        {
            <span id="@Html.IdFor(m => m.AnythingWeCanDoToSupportYourInterview)" class="form-prepopped prewrap">I don't have any interview support requirements</span>
        }
    </div>
</section>
