@model EducationViewModel

<section id="applyEducation" class="section-border">
    <h2 class="heading-large">
        Education
        @if (ViewBag.VacancyId != null)
        {
            <a class="icon-with-text" href='@Url.Action("Apply", "Application", new {id = ViewBag.VacancyId})#applyEducation'>
                <i class="the-icon fa fa-pencil"></i><span class="the-text">Amend details</span>
            </a>

        }              
    </h2>
    <div class="form-group">
        <p class="form-label">Name of most recent school/college</p>
        <span id="@Html.IdFor(m => m.NameOfMostRecentSchoolCollege)" class="form-prepopped">@Html.DisplayTextFor(m => m.NameOfMostRecentSchoolCollege)</span>
    </div>
    <div class="inline-fixed">
        <p class="form-label">Years attended</p>
        <div class="form-group">
            <span class="form-hint">From</span>
            <span id="@Html.IdFor(m => m.FromYear)" class="form-prepopped">@Html.DisplayTextFor(m => m.FromYear)</span>
        </div>
        <div class="form-group">
            <span class="form-hint">To</span>
            <span id="@Html.IdFor(m => m.ToYear)" class="form-prepopped">@Html.DisplayTextFor(m => m.ToYear)</span>
        </div>
    </div>
</section>