@using SFA.Apprenticeships.Domain.Entities.Applications
@using SFA.Apprenticeships.Domain.Entities.Vacancies

@model VacancyDetailViewModel

@{
    var AnalyticsTag = "onclick=\"Webtrends.multiTrack({{ element: this, argsa: ['DCS.dcsuri', '{0}" + Model.Id + "', 'WT.dl', '99', 'WT.ti', '{1}', 'DCSext.buttonPos', '{2}'] }});\"";
}

@if (@Model.ApplyViaEmployerWebsite)
{
    <p class="no-btm-margin">This apprenticeship requires you to apply through the employer's website.</p>

    if (Model.IsWellFormedVacancyUrl)
    {
        <a id="external-employer-website" rel="external" href="@Model.VacancyUrl" target="_blank" @Html.Raw(string.Format(AnalyticsTag, "/apprenticeship/apply/offline/", "Apprenticeship – Apply Offline", ViewData["AnalyticsButtonPosition"]))>Apply now</a>
    }
    else
    {
        <p id="external-employer-raw-vacancy-url">@Model.VacancyUrl</p>
    }
}
else if (Request.IsAuthenticated)
{
    if (Model.CandidateApplicationStatus.HasValue)
    {
        // Candidate has applied for this vacancy.
        if (Model.CandidateApplicationStatus.Value == ApplicationStatuses.Draft &&
            Model.VacancyStatus == VacancyStatuses.Live)
        {
            <a role="button" id="apply-button" class="button button-with-hint" title="Resume application" href="@Url.RouteUrl(CandidateRouteNames.ApprenticeshipApply, new {@id = Model.Id})" @Html.Raw(string.Format(AnalyticsTag, "/apprenticeship/apply/resume/", "Apprenticeship – Resume Application", ViewData["AnalyticsButtonPosition"]))>Resume application</a>
        }
        else
        {
            if (Model.DateApplied.HasValue)
            {
                <p id="date-applied" class="no-btm-margin">You applied on @Html.DisplayFor(m => m.DateApplied, "Date").</p>
            }

            if (Model.VacancyStatus == VacancyStatuses.Live)
            {
                <a id="track-application-status" href="@Url.Action("Track", "Account", new { id = Model.Id })">Track application status</a>
            }
            else
            {
                <a id="return-to-my-applications" href="@Url.Action("Index", "Account")">Return to my applications</a>
            }
        }
    }
    else if (Model.VacancyStatus == VacancyStatuses.Live)
    {
        <a role="button" id="apply-button" class="button button-with-hint" title="Apply for apprenticeship" href="@Url.RouteUrl(CandidateRouteNames.ApprenticeshipApply, new { @id = Model.Id })" @Html.Raw(string.Format(AnalyticsTag, "/apprenticeship/apply/signedin/", "Apprenticeship – Signed In Apply", ViewData["AnalyticsButtonPosition"]))>Apply for apprenticeship</a>
    }
}
else if (Model.VacancyStatus == VacancyStatuses.Live)
{
    <a role="button" id="apply-button" class="button button-with-hint" title="Sign in to apply" href="@Url.RouteUrl(CandidateRouteNames.ApprenticeshipApply, new { @id = Model.Id })" @Html.Raw(string.Format(AnalyticsTag, "/apprenticeship/apply/signin/", "Apprenticeship – Sign In to Apply", ViewData["AnalyticsButtonPosition"]))>Sign in to apply</a>
}

@if (Model.VacancyStatus == VacancyStatuses.Live)
{
    <p id="vacancy-closing-date" class="copy-16">Closing date: @Model.ClosingDate.ToFriendlyClosingToday()</p>
}
