@model ApprenticeshipSearchViewModel

@{
    var divClass = Model.SearchMode == ApprenticeshipSearchMode.Category ? "active" : "";
}
<div id="categories" class="form-group tabbed-element tab2 @divClass">
    <ul id="category-list" class="copy-16 list-text list-checkradio">
        @foreach (var category in Model.Categories)
        {
            var inputId = string.Format("category-{0}", category.CodeName.ToLower());
            var subCategories = category.SubCategories.ToList();
            var checkedAttr = Model.Category == category.CodeName ? "checked" : "";
            var openAttr = Model.Category == category.CodeName && Model.SubCategories != null && Model.SubCategories.Any() ? "open" : "";
            var subCategoryListId = string.Format("sub-category-{0}-list", category.CodeName.ToLower());
            <li>
                <input @checkedAttr type="radio" name="Category" id="@inputId" value="@category.CodeName"><label for="@inputId">@FullNameFormatter.Format(category.FullName)</label>
                <details @openAttr>
                    <summary class="copy-16">@subCategories.Count sub-categories</summary>
                    <ul id="@subCategoryListId" class="detail-content copy-16 list-text list-checkradio">
                        @foreach (var subCategory in subCategories)
                        {
                            checkedAttr = Model.SubCategories != null && Model.SubCategories.Contains(subCategory.CodeName) ? " checked" : "";
                            var checkboxId = string.Format("sub-category-{0}", subCategory.CodeName.ToLower());
                            var labelText = FullNameFormatter.Format(subCategory.FullName);
                            if (subCategory.Count.HasValue)
                            {
                                labelText = string.Format("{0} ({1})", labelText, subCategory.Count.Value);
                            }
                            <li><input @checkedAttr type="checkbox" name="SubCategories" id="@checkboxId" value="@subCategory.CodeName"><label for="@checkboxId">@labelText</label></li>
                        }
                    </ul>
                </details>
            </li>
        }
    </ul>
</div>