@model ApprenticeshipSearchViewModel
@{
    ViewBag.Title = "Apprenticeships - Find an apprenticeship";
    Layout = "~/Views/Shared/_ApprenticeshipLayout.cshtml";
}

<div class="hgroup">
    <h1 class="heading-xlarge">Find an apprenticeship</h1>
    <p class="subtitle">Search and apply for an apprenticeship in England</p>
</div>
<div class="grid-wrapper">

    <div class="grid-wrapper controls-3-4">
        <section class="grid grid-2-3">
            @using (Html.BeginRouteForm(CandidateRouteNames.ApprenticeshipResults, FormMethod.Get, new {@id = "#searchForm"}))
            {
                @Html.Partial("ValidationSummary", ViewData.ModelState)

                <nav class="tabbed-nav">
                    @{
                        var keywordTabControlClass = Model.SearchMode == ApprenticeshipSearchMode.Keyword ? " active" : "";
                        var categoriesTabControlClass = Model.SearchMode == ApprenticeshipSearchMode.Category ? " active" : "";
                    }
                    @Html.RouteLink("Keywords", CandidateRouteNames.ApprenticeshipSearch, new { searchMode = ApprenticeshipSearchMode.Keyword }, new { @id = "keywordTabControl", @class = "tabbed-tab" + keywordTabControlClass, tab = "#tab1" })
                    @Html.RouteLink("Categories", CandidateRouteNames.ApprenticeshipSearch, new { searchMode = ApprenticeshipSearchMode.Category }, new { @id = "categoriesTabControl", @class = "tabbed-tab" + categoriesTabControlClass, tab = "#tab2" })
                </nav>

                <div class="tabbed-content active">
                    
                    @Html.Partial("_categories", Model)

                    @{
                        var keywordsClass = Model.SearchMode == ApprenticeshipSearchMode.Keyword ? " active" : "";
                        @Html.FormTextFor(m => m.Keywords, controlHtmlAttributes: new { autofocus = "autofocus", aria_describedby = "keywordsHint" }, containerHtmlAttributes: new { @class = "tabbed-element tab1" + keywordsClass })
                    }
                    <p class="visuallyhidden" id="keywordsHint">Try words that describe the type of apprenticeship you want, for example “carpentry” or “mechanics”.</p>
                    
                    @Html.FormTextFor(m => m.Location)

                    <div class="inline">
                        <div class="form-group">
                            <label for="loc-within" class="form-label">Within</label>
                            @Html.DropDownListFor(m => m.WithinDistance, Model.Distances, new {@id = "loc-within", @name = "WithinDistance"})
                        </div>
                        <div class="form-group">
                            <label for="apprenticeship-level" class="form-label">Apprenticeship level</label>
                            @Html.DropDownListFor(m => m.ApprenticeshipLevel, Model.ApprenticeshipLevels, new {@id = "apprenticeship-level", @name = "ApprenticeshipLevel"})
                        </div>
                    </div>

                    <div class="form-group">
                        @{
                            var searchButtonClass = Model.SearchMode == ApprenticeshipSearchMode.Keyword ? "active" : "";
                            var browseButtonClass = Model.SearchMode == ApprenticeshipSearchMode.Category ? "active" : "";
                        }
                        <button class="button tabbed-element tab1 @searchButtonClass" id="search-button">Search</button>
                        <button class="button tabbed-element tab2 @browseButtonClass" id="search-button">Browse</button>
                    </div>

                    @Html.HiddenFor(m => m.Latitude)
                    @Html.HiddenFor(m => m.Longitude)
                    @Html.Hidden("Hash", Model.LatLonLocHash())
                    @Html.HiddenFor(m => m.LocationType)
                    @Html.HiddenFor(m => m.ResultsPerPage)
                    @Html.HiddenFor(m => m.SearchMode)

                </div>
            }
        </section>
        <aside class="grid grid-1-3">
            <div class="inner-block">
                <div class="gov-border">
                    <h2 class="heading-medium">Contact us</h2>
                    <ul class="list-text">
                        <li>0800 015 0400</li>
                        <li><a href="mailto:nationalhelpdesk@findapprenticeship.service.gov.uk">Send us an email</a></li>
                    </ul>
                    <ul class="list-text">
                        <li>
                            <a href="https://www.gov.uk/apprenticeships-guide" target="_blank">About apprenticeships</a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
</div>

@section scripts
{   
    @Scripts.Render("~/bundles/nas/locationsearch")
    <script>
        $("#Location").locationMatch({
            url: '@Url.Action("location", "Location")',
            longitude: '#@(Html.IdFor(m => m.Longitude))',
            latitude: '#@(Html.IdFor(m => m.Latitude))',
            latlonhash: '#@(Html.IdFor(m => m.Hash))'
        });

        $("#keywordTabControl").click(function () {
            $("#SearchMode").val("Keyword");
        });

        $("#categoriesTabControl").click(function () {
            $("#SearchMode").val("Category");
        });
    </script>
}
