<h1 id="h1header">Administraton home page</h1>

<p>This is a developer page for displaying useful information.</p>

<div>Legacy reference data</div>
<ul>
    <li>@Html.ActionLink("Frameworks", "frameworks")</li>
    <li>@Html.ActionLink("Occupations", "occupations")</li>
    <li>@Html.ActionLink("Local authorities", "localauthorities")</li>
    <li>@Html.ActionLink("Regions", "regions")</li>
    <li>@Html.ActionLink("Counties", "counties")</li>
    <li>@Html.ActionLink("Error codes", "errorcodes")</li>
</ul>




