
@model SFA.Apprenticeships.Web.Candidate.ViewModels.VacancySearch.VacancySearchResponseViewModel

<div id="pagedListInternal">

    <ul class="search-results">
        @foreach (var vacancy in Model.Vacancies)
        {
            <li class="search-results__item section-border">
                <div class="hgroup-medium">
                    <h3 class="heading-medium"><a href="#">@vacancy.Title</a></h3>
                    <h4 class="subtitle">@vacancy.EmployerName</h4>
                </div>
                <p class="search-shortdesc">
                    @vacancy.Description
                </p>
                <p>
                    <a href="#">Read more</a>
                </p>
                <div class="inl-block-wrapper">
                    <ul class="list-text btm-align width-all-2-3">
                        <li><b>Distance:</b> @vacancy.DistanceAsString miles</li>
                        <li><b>Closing date:</b> @vacancy.ClosingDate.ToUniversalTime().ToString("dd MMM yy")</li>
                    </ul>
                    <div class="btm-align width-all-1-3">
                        <div class="search-save">
                            <input type="checkbox" class="save-trigger" id="save-trigger1">
                            <label for="save-trigger1">Save</label>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>

    @{Html.RenderPartial("_pagination", Model);}
</div>

<script src="~/Content/_assets/js/nas/pagination.js" type="text/javascript"></script>