@model VacancySearchResponseViewModel

@if (Model.TotalHits > 0) {
    <fieldset>
        <legend class="visuallyhidden">Search items</legend>
        <div class="float-right-wrap">
            <div class="form-group form-group-compound">
                <label for="sort-results" class="heading-medium inline">Sort results</label>
                @Html.DropDownListFor(m => m.VacancySearch.SortType, (SelectList)ViewBag.SortTypes, new { @id = "sort-results", @name = "sortType", @onchange = "this.form.submit();" })
            </div>
        </div>
    </fieldset>
}
<ul class="search-results">
    @if (Model.Vacancies != null)
    {
        foreach (var vacancy in Model.Vacancies)
        {
            <li class="search-results__item section-border">
                <div class="hgroup-medium">
                    <h3 class="heading-medium vacancy-title-link">@Html.ActionLink(@vacancy.Title, "DetailsWithDistance", new { id = vacancy.Id, distance = vacancy.DistanceAsString })</h3>
                    <h4 class="subtitle">@vacancy.EmployerName</h4>
                </div>
                <p class="search-shortdesc">@vacancy.Description</p>
                <p>@Html.ActionLink("Read more", "DetailsWithDistance", new { id = vacancy.Id, distance = vacancy.DistanceAsString })</p>
                <div class="inl-block-wrapper">
                    <ul class="list-text btm-align width-all-2-3">
                        <li><b>Distance:</b> <span class="distance-value">@vacancy.DistanceAsString</span> miles</li>
                        <li><b>Closing date:</b> <span class="closing-date-value">@Html.DisplayFor(m => vacancy.ClosingDate, "Date")</span></li>
                    </ul>
                    <div class="btm-align width-all-1-3">
                        
                    </div>
                </div>
            </li>
        }
    }
</ul>
@{Html.RenderPartial("_pagination", Model);}

