@using SFA.Apprenticeships.Web.Candidate.Constants
@model VacancySearchViewModel

@{
    ViewBag.Title = "Apprenticeships - Find an apprenticeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hgroup">
    <h1 class="heading-xlarge">Find an apprenticeship</h1>
    <p class="subtitle">Search and apply for an apprenticeship in England</p>
</div>
<div class="grid-wrapper">

    <div class="grid-wrapper controls-3-4">
        <section class="grid grid-2-3">
            @using (Html.BeginForm("results", "vacancysearch", FormMethod.Get, new { @id = "#searchForm" }))
            {
                @Html.Partial("ValidationSummary", ViewData.ModelState)

                @Html.FormTextFor(m => m.Keywords, controlHtmlAttributes: new { autofocus = "autofocus", aria_describedby = "keywordsHint" })
                <p class="visuallyhidden" id="keywordsHint">Try words that describe the type of apprenticeship you want, for example “carpentry” or “mechanics”.</p>
                @Html.FormTextFor(m => m.Location)

                <div class="form-group">
                    <label for="loc-within" class="form-label">Within</label>
                    @Html.DropDownListFor(m => m.WithinDistance, (SelectList)ViewBag.Distances, new { @id = "loc-within", @name = "WithinDistance" })
                </div>

                <div class="form-group">
                    <button class="button" id="search-button">Search</button>
                </div>

                @Html.HiddenFor(m => m.Latitude)
                @Html.HiddenFor(m => m.Longitude)
                @Html.Hidden("Hash", Model.LatLonLocHash())
                @Html.HiddenFor(m => m.LocationType)
                @Html.HiddenFor(m=> m.ResultsPerPage);
            }
        </section>
        <aside class="grid grid-1-3">
            <div class="inner-block">
                <div class="gov-border">
                    <h2 class="heading-medium">Contact us</h2>
                    <ul class="list-text">
                        <li>0800 015 0400</li>
                        <li><a href="mailto:nationalhelpdesk@apprenticeships.gov.uk">Send us an email</a></li>
                    </ul>
                    <ul class="list-text">
                        <li>
                            <a href="@Url.RouteUrl(CandidateRouteNames.Helpdesk)">About apprenticeships</a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
</div>

@section scripts
{   
    @Scripts.Render("~/bundles/nas/locationsearch")
    <script>
        $("#Location").locationMatch({
            url: '@Url.Action("location", "Location")',
            longitude: '#@(Html.IdFor(m => m.Longitude))',
            latitude: '#@(Html.IdFor(m => m.Latitude))',
            latlonhash: '#@(Html.IdFor(m => m.Hash))'
        });
    </script>
}
