
@using SFA.Apprenticeships.Web.Common.Framework
@model SFA.Apprenticeships.Web.Candidate.ViewModels.VacancySearch.VacancySearchViewModel

@{
    ViewBag.Title = "SFA Apprenticeships";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hgroup">
    <h1 class="heading-xlarge">Find an Apprenticeship</h1>
    <h2 class="subtitle">Search and apply for an Apprenticeship in England</h2>
</div>
<div class="grid-wrapper">
    @Html.ValidationSummary(true)
    <section class="grid grid-2-3">
        @using (Html.BeginForm("results", "vacancysearch", FormMethod.Get))
        {

            @Html.FormTextFor(m => m.Keywords)
            @Html.FormTextFor(m => m.Location)

            <div class="form-group">
                <label for="loc-within" class="form-label">Within</label>
                @Html.DropDownListFor(m => m.WithinDistance, (SelectList) ViewBag.Distances, new {@id = "loc-within", @name = "WithinDistance"})
            </div>

            <div class="form-group">
                <button class="button">Search</button>
                <a class="button-link" href="@Url.Action("clear")">Clear</a>
            </div>

            @Html.HiddenFor(m => m.Latitude)
            @Html.HiddenFor(m => m.Longitude)
        }
        <div class="form-group">
            <p>You can also apply for Apprenticeships in other parts of the UK</p>
            <ul>
                <li><a href="#">Apprenticeships in Northern Ireland</a></li>
                <li><a href="#">Apprenticeships in Scotland</a></li>
                <li><a href="#">Apprenticeships in Wales</a></li>
            </ul>
        </div>
    </section>
    <aside class="grid grid-1-3">
        <div class="inner-block">
            <div class="gov-border">
                <h2 class="heading-medium">Elsewhere on GOV.UK</h2>
                <a href="overview.html">About Apprenticeships</a>
            </div>
        </div>
    </aside>
</div>

@section scripts
{   
    <script src="~/Content/_assets/js/vendor/jquery-ui-1.10.4.custom.min.js"></script>   
    <script src="~/Content/_assets/js/nas/locationAutocomplete.js"></script>      
    <script>
        $("#Location").locationMatch({
            url: '@Url.Action("location", "vacancysearch")',
            longitude: '#Longitude',
            latitude: '#Latitude'
        });
    </script>
}