@using SFA.Apprenticeships.Domain.Entities.Vacancies
@model VacancySearchResponseViewModel

@{
    ViewBag.Title = "Apprenticeships - Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var locationTypeLink = Model.VacancySearch.LocationType == VacancyLocationType.National ? Url.Action("results", new VacancySearchViewModel(Model.VacancySearch) { LocationType = VacancyLocationType.NonNational, SearchAction = SearchAction.Sort, PageNumber = 1}) : Url.Action("results", new VacancySearchViewModel(Model.VacancySearch) { LocationType = VacancyLocationType.National , SearchAction = SearchAction.Sort, PageNumber = 1});
    
    string resultMessage;
    string nationalResultsMessage;

    if (Model.TotalLocalHits == 0)
    {
        resultMessage = "";
    }
    else if (Model.TotalLocalHits == 1)
    {
        
        if (Model.VacancySearch.LocationType == VacancyLocationType.National)
        {
            resultMessage = "There is <b class=\"bold-medium\">1</b> <a id='localLocationTypeLink' href=" + locationTypeLink + ">local apprenticeship.</a>";
        }
        else
        {
            resultMessage = "There is <b class=\"bold-medium\">1</b> local apprenticeship.";
        }
    }
    else
    {
        if (Model.VacancySearch.LocationType == VacancyLocationType.National)
        {
            var message = "There are <b class=\"bold-medium\">{0}</b> <a id='localLocationTypeLink' href=" + locationTypeLink + ">local apprenticeships.</a>";
            resultMessage = string.Format(message, Model.TotalLocalHits);
        }
        else
        {
            resultMessage = string.Format("There are <b class=\"bold-medium\">{0}</b> local apprenticeships.", Model.TotalLocalHits);
        }        
    }

    if (Model.TotalNationalHits == 0)
    {
        nationalResultsMessage = "";
    }
    else if (Model.TotalNationalHits == 1)
    {

        if (Model.VacancySearch.LocationType == VacancyLocationType.NonNational)
        {
            nationalResultsMessage = "There is <b class=\"bold-medium\">1</b> <a id='nationwideLocationTypeLink' href=" + locationTypeLink + ">nationwide apprenticeship.</a>";
        }
        else
        {
            nationalResultsMessage = "There is <b class=\"bold-medium\">1</b> nationwide apprenticeship.";
        }
    }
    else
    {
        if (Model.VacancySearch.LocationType == VacancyLocationType.NonNational)
        {
            var nationalMessage = "There are <b class=\"bold-medium\">{0}</b> <a id='nationwideLocationTypeLink' href=" + locationTypeLink + ">nationwide apprenticeships.</a>";
            nationalResultsMessage = string.Format(nationalMessage, Model.TotalNationalHits);
        }
        else
        {
            nationalResultsMessage = string.Format("There are <b class=\"bold-medium\">{0}</b> nationwide apprenticeships.", Model.TotalNationalHits);
        }
    }
}

<div class="search-results-wrapper grid-wrapper">
    <div class="hgroup">
        <h1 class="heading-xlarge">Search results</h1>
        <p id="vacancy-result-summary">@Html.Raw(resultMessage) @Html.Raw(nationalResultsMessage)</p>
    </div>

    @using (Html.BeginForm("results", "vacancysearch", FormMethod.Get))
    {   
        Html.Partial("ValidationSummary", ViewData.ModelState);
        Html.RenderPartial("_searchUpdate", Model.VacancySearch);
        @(Model.VacancySearch.SearchAction == SearchAction.Search ? Html.Hidden("LocationType", "Local") : Html.Hidden("LocationType", Model.VacancySearch.LocationType))
        <section class="grid grid-2-3">
            @{
        if (Model.TotalLocalHits == 0)
                {
                    <p id="search-no-results-title">There are currently no apprenticeships that match your search.</p>
                    <p>Try editing your search:</p>
                    <ul>
                        <li>using different keywords</li>
                        <li>expanding your search location</li>
                        <li>making sure all words are spelt correctly</li>
                    </ul>
                }
                else
                {
                    <div id="pagedList">
                        @{ Html.RenderPartial("_searchResults", Model); }
                    </div>
                }
            }
        </section>
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/nas/locationsearch")
    <script type="text/javascript">

        $(function () {

            $("#Location").locationMatch({
                url: '@Url.Action("location", "Location")',
                longitude: '#Longitude',
                latitude: '#Latitude',
                latlonhash: '#Hash'
            });

            $('#sort-results').change(function () {

                $('#SearchAction').val("Sort");
                $("form").submit();
            });

            $('#results-per-page').change(function () {
                $('#SearchAction').val("Sort");
                $("form").submit();
            });
           
        });

    </script>
}