@model CandidateViewModelBase

<section class="section-border grid-wrapper">
    <h2 class="heading-large">Your details</h2>
    <div class="grid grid-1-2">
        <div class="form-group">
            <p class="form-label">Full name</p>
            @Html.HiddenFor(m => m.FirstName)
            @Html.HiddenFor(m => m.LastName)
            <span id="candidate-fullname" class="form-prepopped">@Html.DisplayFor(model => model.FullName)</span>
        </div>
        <div class="form-group date-input">
            <p class="form-label">Date of birth</p>
            @Html.HiddenFor(m => m.DateOfBirth)
            <span id="candidate-dob" class="form-prepopped">@Html.DisplayFor(model => model.DateOfBirth, "Date")</span>
        </div>
        <div class="form-group">
            <span class="form-label">Address</span>
            <ul class="list-text form-prepopped">
                <li id="candidate-address-line1">
                    @Html.HiddenFor(m => m.Address.AddressLine1)
                    @Model.Address.AddressLine1
                </li>
                <li id="candidate-address-line2">
                    @Html.HiddenFor(m => m.Address.AddressLine2)
                    @Model.Address.AddressLine2
                </li>
                <li id="candidate-address-line3">
                    @Html.HiddenFor(m => m.Address.AddressLine3)
                    @Model.Address.AddressLine3
                </li>
                <li id="candidate-address-line4">
                    @Html.HiddenFor(m => m.Address.AddressLine4)
                    @Model.Address.AddressLine4
                </li>
                <li id="candidate-address-postcode">
                    @Html.HiddenFor(m => m.Address.Postcode)
                    @Model.Address.Postcode
                </li>
            </ul>
        </div>
    </div>
    <div class="grid grid-1-2">
        <div class="form-group">
            <p class="form-label">Email address</p>
            @Html.HiddenFor(m => m.EmailAddress)
            <span id="candidate-email" class="form-prepopped">@Model.EmailAddress</span>
        </div>
        <div class="form-group">
            <p class="form-label">Phone</p>
            @Html.HiddenFor(m => m.PhoneNumber)
            <span id="candidate-phone" class="form-prepopped">@Model.PhoneNumber</span>
        </div>
    </div>
</section>