@model VacancyDetailViewModel

@{
    var AnalyticsTag = "onclick=\"Webtrends.multiTrack({{ element: this, argsa: ['DCS.dcsuri', '{0}" + Model.Id + "', 'WT.dl', '99', 'WT.ti', '{1}', 'DCSext.buttonPos', '{2}'] }});\"";
}

@if (@Model.ApplyViaEmployerWebsite)
{
    <p class="no-btm-margin">This traineeship requires you to apply through the employer's website.</p>

    if (Model.IsWellFormedVacancyUrl)
    {
        <a id="external-employer-website" rel="external" href="@Model.VacancyUrl" target="_blank" @Html.Raw(string.Format(AnalyticsTag, "/traineeship/apply/offline/", "Traineeship – Apply Offline", ViewData["AnalyticsButtonPosition"]))>Apply now</a>
    }
    else
    {
        <p>@Model.VacancyUrl</p>
    }
}
else if (Request.IsAuthenticated)
{
    if (Model.HasCandidateAlreadyApplied)
    {
        <p class="no-btm-margin">You applied on @Html.DisplayFor(m => m.DateApplied, "Date").</p>
    }
    else
    {
        // Candidate has not applied for this vacancy.
        <a role="button" id="apply-button" class="button button-with-hint" title="Apply for traineeship" href="@Url.RouteUrl(CandidateRouteNames.TraineeshipApply, new { @id = Model.Id })" @Html.Raw(string.Format(AnalyticsTag, "/traineeship/apply/signedin/", "Traineeship – Signed In Apply", ViewData["AnalyticsButtonPosition"]))>Apply for traineeship</a>
    }
}
else
{
    // Vacancy is not being viewed by a signed-in candidate.
    <a role="button" id="apply-button" class="button button-with-hint" title="Sign in to apply" href="@Url.RouteUrl(CandidateRouteNames.TraineeshipApply, new { @id = Model.Id })" @Html.Raw(string.Format(AnalyticsTag, "/traineeship/apply/signin/", "Traineeship – Sign In to Apply", ViewData["AnalyticsButtonPosition"]))>Sign in to apply</a>
}
<p class="copy-16">Closing date: @Html.DisplayFor(m => m.ClosingDate, "Date")</p>
