@model TraineeshipSearchResponseViewModel

@{
    ViewBag.Title = "Find a traineeship - Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags
{
    @*Used by analytics to track succesful/unsuccessful searches*@
    <meta name="WT.oss_r" content="@Model.TotalHits" />
}

<div class="search-results-wrapper grid-wrapper">
    <div class="hgroup">
        <h1 class="heading-xlarge">Search results</h1>
        <div id="vacancy-result-summary">
            <p class="small-btm-margin">We've found <b class="bold-medium">@Model.TotalHits</b> traineeships in your selected area.</p>
        </div>
    </div>

    @using (Html.BeginRouteForm(CandidateRouteNames.TraineeshipResults, FormMethod.Get))
    {
        Html.Partial("ValidationSummary", ViewData.ModelState);
        Html.RenderPartial("_searchUpdate", Model.VacancySearch);
        <section class="grid grid-2-3">
            @{
                if (Model.TotalHits == 0)
                {
                    <p id="search-no-results-title">There are currently no traineeships that match your search.</p>
                    <p>Try a different location, or expanding your search to 40 miles</p>
                }
                else
                {
                    <div id="pagedList">
                        @{ Html.RenderPartial("_searchResults", Model); }
                    </div>
                }
            }
        </section>
    }
</div>

@section scripts
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    @Scripts.Render("~/bundles/nas/locationsearch")
    <script type="text/javascript">
        $(function () {
            $("#Location").locationMatch({
                url: '@Url.Action("location", "Location")',
                longitude: '#Longitude',
                latitude: '#Latitude',
                latlonhash: '#Hash'
            });

            $('#sort-results').change(function () {

                $('#SearchAction').val("Sort");
                $("form").submit();
            });

            $('#results-per-page').change(function () {
                $('#SearchAction').val("Sort");
                $("form").submit();
            });

            $('#search-button').click(function () {
                $('#LocationType').val("NonNational");
            });
        });
    </script>
     

    @Scripts.Render("~/bundles/nas/resultsMap")
    
}