@model EmployerQuestionAnswersViewModel

@if (Model != null && (!string.IsNullOrWhiteSpace(Model.SupplementaryQuestion1) || !string.IsNullOrWhiteSpace(Model.SupplementaryQuestion1)))
{
    <fieldset class="fieldset-with-border">
        <legend class="heading-large">
            Employer questions
            @if (ViewBag.VacancyId != null)
            {
                <a class="icon-with-text" href="@Url.Action("Apply", "Application", new {id = ViewBag.VacancyId})#applyEmployerQuestionAnswers">
                    <i class="the-icon fa fa-pencil"></i><span class="the-text">Amend details</span>
                </a>
            }           
        </legend>

        @if (!string.IsNullOrWhiteSpace(Model.SupplementaryQuestion1))
        {
            <div class="form-group">
                <p class="form-label text">@Html.Display("SupplementaryQuestion1", Model.SupplementaryQuestion1)</p>
                <span class="form-prepopped">@Html.Display("CandidateAnswer1", Model.CandidateAnswer1)</span>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.SupplementaryQuestion2))
        {
            <div class="form-group">
                <p class="form-label text">@Html.Display("SupplementaryQuestion2", Model.SupplementaryQuestion2)</p>
                <span class="form-prepopped">@Html.Display("CandidateAnswer2", Model.CandidateAnswer2)</span>
            </div>
        }
    </fieldset>
}
